/*********This css is used for the Analytics Master page and those pages also which will come under this master page***********
/***************Css for to set the common font style and font size for whole application*****************/
html
{
    font-size: 14px !important;
    outline: none;
    font-family: "Arial";
}
/**************css for to set the common font style, common border style and font style for contet which comes under body tag**********/
body
{
    margin: 5px 0 0 0;
    padding: 0;
    font-family: "Arial";
    font-size: 14px;
    font-weight: normal;
    color: #000; /*border-top: solid 7px #b2b1b1;*/
}
/************** To set outline none on anchor tag as well image tag***********************/
a, img
{
    outline: none;
    border: 0;
}
img
{
    border: 0 none;
}
/**************** css for to add the edit image icon on anchor tag on which we have apply edit class************/
a.edit
{
    background: url(../Content/Images/edit.png) no-repeat right 6px;
}
/**************** Styles to set the common margin and padding for h1,h2,h3,p,ul tags*********************************/
h1, h2, h3, p, ul
{
    margin: 0;
    padding: 0;
}
/************** Styles to set the common font stle for h1,h2,h3 title***************************/
h1, h2, h3
{
    font-family: "Arial";
}
/************** Styles to set the colo style,height,position, text alingment,margin,font size for the h1 title************/
h1
{
    width: 100%;
    height: 20px;
    float: left;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    color: #252525;
    text-align: left;
    text-decoration: none;
    line-height: 20px;
}
/************** Styles to set the colo style,height,position, text alingment,margin,font size for the h2 title************/
h2
{
    width: 98%;
    height: 20px;
    float: left;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #252525;
    text-align: left;
    text-decoration: none;
    line-height: 20px;
}
/*p
{
    width: 100%;
    height: auto;
    float: left;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    text-align: left;
    text-decoration: none;
}*/
/************ Styles to set the common line height and bottom margin for  p and ul tag****************/
p, ul
{
    line-height: 1.6em;
    margin-bottom: 0;
}
/******************** Styles to set the  the list style none for list item******************************/
ul li
{
    list-style: none;
}
/****************** Styles to set the common border style, backgroud color, font size for textbox*********/
input.input-text
{
    border: solid 1px #dddddd;
    background: #fff;
    font-size: 15px;
    color: #a7a7a7;
}
/**************** Styles to set the min-height,width,height border style color, margin and padding for company dropdown********/
.selectcompany
{
    min-width: 200px;
    width: auto;
    height: 30px;
    float: left;
    border: solid 1px #d4d5d7;
    background: #f7f7f7;
    color: #8D8D8D;
    margin: 0 0 0 7px;
    padding: 4px;
    font-size: 14px !important;
}
/*********** Styles to set common border,padding,color,width for the select tag*********************/
.select
{
    border: 1px solid #ccc;
    font-size: 11px;
    padding: 2px;
    color: #444;
    width: auto;
    min-width: 200px;
}
/*Global Declaration*/
/*class Declaration*/
.REselect
{
    border: 1px solid #ccc;
    font-size: 11px;
    padding: 2px;
    color: #444;
    width: 175px; /*font-size: 1.1em;         font-family: "Trebuchet MS" ,Verdana,Helvetica,Sans-Serif;     height: 23px;*/
}

.wrapper
{
    width: 100%;
    height: auto;
    float: left;
    margin: 0;
}
/*********** Styles to set page width,height and margin*******************************************/
.main-container
{
    width: 1100px;
    height: auto;
    margin: 0 auto;
}
/************ Styles to set the height,width,position and margin for Header section****************/
.main-container .header
{
    width: 1100px;
    height: 78px;
    float: left;
    margin: 0;
}
/************ Styles to set the position of logo on the header section****************************/
.main-container .header .logo-panel
{
    width: 364px;
    height: 78px;
    float: left;
    margin: 0;
}
/*************Styles to set the position of right header section on the top header****************/
.main-container .header .header-right
{
    width: 600px;
    height: 78px;
    float: right;
    margin: 0;
}
/************** currently we are not using this styles*********************************************/
.main-container .header .header-right .user-panel
{
    width: 400px;
    height: 32px;
    float: right;
    margin: 0;
}
/************* styles to set the position,height,width,background,text alignment, text decoration for the logout link on the header section*****/
.main-container .header .header-right .user-panel .logout-section, .logout-section a
{
    width: 20;
    height: 21px;
    float: right;
    font-family: 'Arial' , sans-serif;
    color: #276fa6;
    text-align: center;
    line-height: 13px;
    text-decoration: none; /*     background: #b2b1b1 url(../../Content/Images/logout-btn.png) no-repeat 65px 0px;     padding: 0 38px 0 15px;     */
}
/************** Styles to set the position,height,width of the logged user details beside the logout link*****************/
.main-container .header .header-right .user-panel .welcome-user
{
    width: 100%;
    float: right;
    height: 25px;
    margin: 5px 0 0 0;
    font: 16px;
    font-family: 'Arial' , sans-serif;
    color: #000;
    text-align: right;
    line-height: 25px;
    text-decoration: none;
}
.main-container .header .header-right .user-panel .welcome-user span
{
    color: #155d95;
    margin: 0 8px 0 6px;
    font-size: 12.5px;
}
/*************Styles to set the position,height and width of Top Login option*************************/
.main-container .header .header-right .signin-panel
{
    width: 566px;
    height: 29px;
    float: right;
    margin: 40px 0 0 0;
}
/**************** Label styles for the signin panel resides on the top of page**********************/
.main-container .header .header-right .signin-panel label
{
    font-size: 15px;
    font-weight: normal;
    color: #a7a7a7;
    text-align: left;
    text-decoration: none;
    line-height: 29px;
    float: left;
    font-family: 'Arial' , sans-serif;
}
/**************TextBox styles for the signin panel******************************************/
.main-container .header .header-right .signin-panel .input-text
{
    width: 150px;
    height: 29px;
    float: left;
    margin: 0 10px;
    padding: 0 5px;
}
/***************Styles to set position,width,height,margin and background for the signin button inside the signin panel********/
.main-container .header .header-right .signin-panel .signin-btn
{
    width: 90px;
    padding: 6px 0;
    float: right;
    margin: 0;
    background: url(../images/signin-btn.png) repeat-x;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    line-height: 29px;
    border: none;
    cursor: pointer;
}
/****************Styles for the Top Menu on the page***************************************/
.main-container .header .header-right .select-panel
{
    /*width:600px;*/
    height: 29px;
    float: right;
    margin: 10px 0 0 0;
    vertical-align: bottom;
}
.main-container .header .header-right .select-panel .select-section
{
    width: auto;
    height: 30px;
    float: right;
    margin: 0;
}
.main-container .header .header-right .select-panel .topnav-panel
{
    width: auto;
    height: 30px;
    float: right;
    margin: 0;
}
.main-container .header .header-right .select-panel .top-nav
{
    width: auto;
    height: 27px;
    float: left;
    border: solid 1px #d4d5d7;
    background: #f7f7f7;
    margin: 0 0 0 7px;
}
/****************Styles for the active ,visited anchor linke*********************/
.top-nav a:link, .top-nav a:active, .top-nav a:visited
{
    font-size: 12.5px;
    font-weight: normal;
    color: #8d8d8d;
    text-align: left;
    line-height: 25px;
}
/**************** Styles for the listiten inside the topnav panel****************/
.top-nav ul
{
    margin: 0 10px;
    padding: 0;
}
.top-nav li
{
    list-style: none;
    padding: 0px;
}
.top-nav li a
{
    float: left;
    font-size: 12.5px;
    font-weight: normal;
    color: #8d8d8d;
    text-align: left;
    line-height: 30px;
    text-decoration: none;
    background: url(../images/downarrow.png) no-repeat right center;
    padding-right: 20px;
}

/**********************Styles to set the relative position of dropdown *********************/
.dropdown
{
    position: relative;
}
/**********************Styles to set the relative position of dropdown on whic last class name is apply *********************/
.dropdown-last
{
    position: relative;
}
/**********************Added the seprate styles for the Companies Dropdown*****************************************/
.top-nav-dropdown
{
    width: 238px;
    height: auto;
    background: #666;
    float: left;
    margin: 0;
    position: absolute;
    left: -1px;
    top: 29px;
    background: #F7F7F7;
    border-bottom: solid 1px #D4D5D7;
    border-right: solid 1px #D4D5D7;
    border-left: solid 1px #D4D5D7;
    border-top: solid 1px #D4D5D7;
}
.top-nav-dropdown a:link, .top-nav-dropdown a:active; .top-nav-dropdown a:visited
{
    font-size: 12.5px;
    font-weight: normal;
    color: #8d8d8d;
    text-align: left;
    line-height: 30px;
    text-decoration: none;
    line-height: 20px;
}
.top-nav-dropdown ul
{
    margin: 0;
    padding: 0;
}
.top-nav-dropdown li
{
    float: left;
    margin: 0;
    border-bottom: solid 1px #d5d5d5;
}
.top-nav-dropdown li a
{
    font-size: 12.5px;
    font-weight: normal;
    color: #8d8d8d;
    text-align: left;
    line-height: 10px;
    text-decoration: none;
    list-style: none;
    width: 217px;
    height: auto;
    background: none !important;
    padding: 0;
}
.top-nav-dropdown li a.sublink
{
    width: auto;
    float: left;
    margin: 0;
    padding: 0 2px 0;
}
.top-nav-dropdown li a.sublink
{
    border-bottom: none !important;
}
/****************Added the separate styles for the Analysis Dropdown***********************************/
.top-nav-dropdown-additional
{
    /*max-height: 300px;
    max-width: 210px;
    overflow: auto;
    overflow-x: hidden;*/
    background: #666;
    float: left;
    margin: 0;
    position: absolute;
    left: -11px;
    top: 25px;
    background: #F7F7F7;
    border-bottom: solid 1px #D4D5D7;
    border-right: solid 1px #D4D5D7;
    border-left: solid 1px #D4D5D7;
    border-top: solid 1px #D4D5D7;
    z-index: 999;
        width: 178px;
    height: auto;
}

.top-nav-sub-dropdown
{
       width: 178px;
    height: auto;
    background: #666;
    float: left;
    margin: 0;
    position: absolute;
    left: -180px;
    top:0px;
    background: #F7F7F7;
    border-bottom: solid 1px #D4D5D7;
    border-right: solid 1px #D4D5D7;
    border-left: solid 1px #D4D5D7;
    border-top: solid 1px #D4D5D7;
    z-index: 999;
}

/****** Apply the new css for to resolve Edit Subscription Child Menu issue with SAU*******/
/*.top-nav-sub-dropdown
{
    background: none repeat scroll 0 0 #F7F7F7;
    border-color: #D4D5D7;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 77px; /*  left: -180px;*/
    margin: 0;
    position: relative;
    top: 0;
    width: 210px;
    z-index: 999999;
    border-bottom: 0px solid white;
    border-left: 0px solid white;
}*/

/******************Styles to set the fontsize,textalignment,text decoration,postion for the anchor link inside the Analysis dropdown menu*******/
.top-nav-dropdown-additional a:link, .top-nav-dropdown-additional a:active; .top-nav-dropdown-additional a:visited, top-nav-sub-dropdown a:link, . top-nav-sub-dropdown a:active; top-nav-sub-dropdown a:visited
{
    font-size: 12.5px;
    font-weight: normal;
    color: #8d8d8d;
    text-align: left;
    line-height: 30px;
    text-decoration: none;
    line-height: 20px;
}
/******************Styles to set the postion for the unorderd list inside the Analysis dropdown menu*********************/
.top-nav-dropdown-additional ul, .top-nav-sub-dropdown ul
{
    margin: 0;
    padding: 0;
}
/******************Styles to set the postion and border style for list items inside the Analysis dropdown menu*********************/
.top-nav-dropdown-additional li, .top-nav-sub-dropdown li
{
    float: left;
    margin: 0;
    border-bottom: solid 1px #d5d5d5;
}
/******************Styles to set the postion and border style for list items inside the Analysis dropdown menu*********************/

.top-nav-dropdown-additional li a, .top-nav-sub-dropdown li a
{
    font-size: 12.5px;
    font-weight: normal;
    color: #8d8d8d;
    text-align: left;
    line-height: 10px;
    text-decoration: none;
    list-style: none;
    width: 167px;
    height: auto;
    background: none !important;
    padding: 0 0 0 12px;
}
/******************Styles to set the width, postion and hover effect for sublink list items inside the Analysis dropdown menu*********************/
.top-nav-dropdown-additional li a.sublink, .top-nav-sub-dropdown li a.sublink
{
    width: auto;
    float: left;
    margin: 0;
}
.top-nav-dropdown-additional li a.sublink, .top-nav-sub-dropdown li a.sublink
{
    border-bottom: none !important;
}
.top-nav-dropdown-additional li a:hover, .top-nav-sub-dropdown li a:hover
{
    background: #1c8ad0 !important;
    color: #fff !important;
}
/******************Added the margin ,position,border,color related styles for the nav panel resides into header section*********************/

.main-container .header .header-right .select-panel .input-text
{
    width: 158px;
    height: 28px;
    padding: 4px;
    float: left;
    margin: 0 0 0 8px;
    border: solid 1px #dddddd;
    background: #fff;
    font-size: 15px;
    color: #a7a7a7;
}

.main-container .nav-panel
{
    width: 1074px;
    height: 30px;
    float: left;
    margin: 0; /*background: url(../images/navbg.png) repeat-x;*/
    padding: 0 13px 0;
    font-size: 14px;
    font-weight: normal;
    color: #FFF;
    text-align: left;
    text-decoration: none;
    line-height: 40px;
    background-color: #276fa6; /*padding-left: 13%;      padding-right: 15%;              margin-left:-13%;     padding-left: 134px;      padding-right: 158px;      margin-left: -133px*/
}
/************ Styles to set the differnet styles for active and visited anchor tag inside the nav panel***********/
.main-container .nav-panel a:link, .nav-panel a:active, .nav-panel a:visited
{
    font-size: 12.5px;
    font-weight: normal;
    color: #FFF;
    text-align: left;
    text-decoration: none;
    line-height: 29px;
    border-right: 1px solid white;
}

/*
.main-container .nav-panel li:first-child,.nav-panel li:first-child, .nav-panel li:first-child
{
    border-left: 1px solid white;
}*/
/****************Styles to set the position,padding,hover effect for the unorderd list and list items inside the nav-panel***************/
.main-container .nav-panel ul
{
    margin: 0;
    padding: 0;
    float: left;
}
.main-container .nav-panel li
{
    float: left;
    margin: 0;
}
.main-container .nav-panel li a
{
    list-style: none;
    float: left; /*  width: auto;*/
    margin: 0;
    padding: 0 15px;
}
.main-container .nav-panel li a:hover
{
    background: #B0D0E9;
    color: #000; /*padding: 0 15px;*/
}
.main-container .nav-panel li.activenav a
{
    background: #cef1fc;
    color: #000; /*padding: 0 15px;*/
}
/****************Styles to set the Bredcrumb panel resides below the menu**********************************/
.main-container .bredcurm-panel
{
    width: 98%; /*height: 40px;*/
    float: left;
    margin: 5px 0 0 0;
    background: #f1f0f1;
    border: solid 1px #b0d0e9;
    padding: 0 0 0 20px;
    background-color: #b0d0e9;
}
/****************Styles to add the home icon inside the Bredcrumb panel resides below the menu**********************************/
.main-container .bredcurm-panel .home-icon
{
    width: 13px;
    height: 14px;
    float: left;
    margin: 9px 0 0 0;
    background: url(../images/home-icon.png) no-repeat;
}
.main-container .bredcurm-panel .bredcrumb-nav
{
    width: auto;
    height: auto;
    float: left;
    font-size: 18px;
    font-weight: normal;
    color: black;
    text-align: left;
    line-height: 30px;
    margin-left: -15px;
    font-weight: 600;
}
/****************Styles to add differnt effect for hove and visited anchor tag inside the Bredcrumb panel resides below the menu**********************************/
.bredcrumb-nav a:link, .bredcrumb-nav a:active, .bredcrumb-nav a:visited
{
    font-size: 12px;
    font-weight: normal;
    color: #3672ba;
    text-align: left; /*line-height: 40px;*/
    margin: 0;
    font-family: 'Arial' , sans-serif;
}
/*************** Styles to set the position for unordered list items and anchor tag that are resides inside the bredcrumb panel****************/
.bredcrumb-nav ul
{
    margin: 0;
    padding: 0;
}
.bredcrumb-nav li
{
    list-style: none;
    float: left;
    margin: 0;
}
.bredcrumb-nav li a
{
    width: auto;
    margin: 0 10px 0 0;
    background: url(../images/bredcrumbarrow.png) no-repeat right 6px;
    padding: 0 10px 0 10px;
    text-decoration: none;
}
.bredcrumb-nav li.last-arrow a
{
    background-image: none;
}
/************* Styles to set the margi,width and position of the main panel where we are displayin content************/
.main-container .center-panel
{
    width: 100%;
    height: auto;
    float: left;
    margin: 0px;
    min-height: 430px;
}
/************H1 tag styles for center panel*************************************/
.main-container .center-panel h1
{
    width: auto;
    float: left;
    margin: 0;
    height: 30px;
    font-size: 24px;
    font-weight: normal;
    color: #252525;
    text-align: left;
    text-decoration: none;
    line-height: 30px;
    font-family: 'Arial' , sans-serif;
}
.main-container .center-panel .ceter-top-select
{
    width: 300px;
    float: left;
    margin: 0 0 0 20px;
}
/**********Added the different styles for the textboxes those are resides inside te center panel****************/
.main-container .center-panel .ceter-top-select .input-text
{
    width: 158px;
    height: 28px;
    padding: 4px;
    float: left;
    margin: 0 0 0 8px;
    border: solid 1px #dddddd;
    background: #fff;
    font-size: 15px;
    color: #a7a7a7;
}
/**************** Styles to set width,height,position,font style,size and background for the add user button inside the center panel********/
.main-container .center-panel .adduser-btn, .adduser-btn a
{
    width: 130px;
    height: 30px;
    float: right;
    background: url(../images/addnewuser.png) no-repeat;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 7px 7px;
}
/************** Common styles for the table resides into the center panel**************************/
.main-container .center-panel .center-tablesection
{
    width: 100%;
    height: auto;
    float: left;
    margin-top: -15px;
}
/**************Common Styles for H1 tag that is resides into the table section of center panel**********/
.main-container .center-panel .center-tablesection h1
{
    width: 100%;
    height: 20px;
    float: left;
    margin: 0;
    font-family: 'Arial' , sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #000;
    text-align: left;
    line-height: 20px;
}
/***************Added the seprate styles for the position,width,height,backgroud and border style for the left table section*********/
.main-container .center-panel .center-tablesection .table-left-section
{
    width: 190px;
    height: auto;
    float: left;
    margin: 0;
    padding: 10px;
    background: #f1f0f1;
    border: solid 1px #dddddd;
}
/************ Added the different style for the table that is resides into .table-left-section panel***********/
.main-container .center-panel .center-tablesection .table-left-section table
{
    width: 190px;
    height: auto;
    float: left;
    margin: 0;
}
/************ padding and border styles for the tr and td*********************************/
.main-container .center-panel .center-tablesection .table-left-section table tbody tr td
{
    padding: 0 !important;
    border: none !important;
}
/************* Table header styles for the table-left-section panel table*******************/
.main-container .center-panel .center-tablesection .table-left-section table th
{
    background: #dedcde;
    border: solid 1px #bcbcbc;
    height: 25px;
    font-size: 13px;
    font-weight: bold;
    color: #252525;
    text-align: left;
    padding: 5px;
    height: 10px;
}
/*********** Added the styles for the textbox resides into .table-left-section panel****************/
.main-container .center-panel .center-tablesection .table-left-section table .input-text
{
    width: 190px;
    height: 28px;
    padding: 4px;
    float: left;
    margin: 0;
    border: solid 1px #dddddd;
    background: #fff;
    font-size: 15px;
    color: #a7a7a7;
}
.main-container .center-panel .center-tablesection .table-right-section
{
    width: 800px;
    height: auto;
    float: right;
    margin: 0;
}
/************ Added the styles for the position,height and margin of the tabel on which we have apply listable class currently we are not using this css*************/
.main-container .center-panel .center-tablesection .listtable
{
    /*width: 1064px;*/
    width: 100%;
    height: auto;
    margin: 25px 0 0 0;
    float: left;
}
/***************Added the styles for the footer positon,height,background*******************************/
.plangurufooter
{
    width: 100%;
    height: 25px;
    float: left;
    margin: 10px 0 0px 0;
    background: #b2b1b1;
    bottom: 0; /*position: fixed;*/
}
/***************Added the styles for the footer panel positon,height,background,text alignment and text decoration***********************/
.plangurufooter .footer-panel
{
    width: 1100px;
    height: 25px;
    margin: 0 auto;
    text-align: left;
    text-decoration: none;
    line-height: 25px;
    color: #070707;
    text-decoration: none;
}
/***************Added the seprate styles for the footer positon,height,background for dahsboard page only*******************************/
.plangurufooterfordashboard
{
    width: 100%;
    height: 25px;
    float: left;
    background: #b2b1b1;
    bottom: 0;
}
/***************Added the seprate styles for the footer panel positon,height,background,text alignment and text decoration for the dashboard page ***********************/
.plangurufooterfordashboard .footer-panel
{
    width: 1100px;
    height: 25px;
    margin: 0 auto;
    text-align: left;
    text-decoration: none;
    line-height: 25px;
    color: #070707;
    text-decoration: none;
}
/*************** Added the table styles for listtable class*****************/
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
/*************** Added the margin and width of table styles for listtable class*****************/
.listtable table
{
    /*margin: 0 0 20px;*/
    border: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
    margin: 10px auto;
    padding: 0;
    width: 100%;
}
/*************** table header background color******************/
.listtable table thead tr th
{
    background: #DDDDDD;
}
/*************** Styles to set the position,linheight,text alignment styles for the tr and td for listtable class***********/
.listtable table thead tr th, .listtable table thead tr td
{
    color: rgba(0, 0, 0, 0.6);
    display: table-cell;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 13pt;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    background-color: #B2B1B1;
}
.listtable table tbody tr
{
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.listtable table thead tr th.right, .listtable table thead tr td.right
{
    padding-right: 10px;
    text-align: right;
}

.listtable table tbody tr td a
{
    text-decoration: none;
    color: #016FA7;
}
.listtable table tbody tr td
{
    border-color: transparent #DDDDDD #DDDDDD transparent;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 14pt;
    padding: 3px 5px;
}
/*************Added the differnet styles for the selected tr in table******************/
.listtable table tbody tr.selected-row
{
    background-color: rgba(28, 183, 236, 0.1) !important;
}
/************* Added the alternative color styles for the tables row******************/
.listtable table tr.odd
{
    background: #ffffff;
}
.listtable table tr.even
{
    background: #DBD9D9;
}
.listtable table.striped tbody tr:nth-child(2n+1)
{
    background-color: #F9F9F9;
}
/************* Added the hover effect on table row with different color***************/
.listtable table.hovered tbody tr:hover
{
    background-color: rgba(28, 183, 236, 0.1);
}

.listtable table.bordered tbody tr:last-child td
{
    border-bottom: 0 none;
}
/*************** Added the differnet styles for the active row in the table************/
.listtable table thead tr th.head-active
{
    background: #e8f8fd;
    border: solid 1px #1C98CC;
}
.listtable table tbody tr td.activetd
{
    background: #f1f0f1;
    border-right: solid 1px #d3d3d3;
    border-left: solid 1px #d3d3d3;
}
.listtable table tbody tr td.activetd-last
{
    background: #d9f1fb;
}


/**************Styles for the Pagination*****************************/
.main-container .center-panel .center-tablesection .pagination-panel
{
    width: auto;
    height: 30px;
    float: right;
    margin: 10px 0px 0px 0px;
    background: #fff;
    border: solid 1px #dddddd;
}
/**************Styles to set th height,width,color,font weight text decoration for the previous link inside  the pagination**********/
.main-container .center-panel .center-tablesection .pagination-panel .prevous, .prevous a
{
    width: 66px;
    height: 30px;
    float: left;
    background: #3FC449;
    font-size: 13px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    font-family: 'Arial' , sans-serif;
}
/************** Added the hove effect on the previous link inside the pagination****************/
.main-container .center-panel .center-tablesection .pagination-panel .prevous:hover
{
    background: #3FC449;
    color: #fff;
}

/************* Added the style for the numbers that we are displaying between next and previous link inside the pagination panel.*************/
.main-container .center-panel .center-tablesection .pagination-panel .no-prevous, .main-container .center-panel .center-tablesection .pagination-panel .no-next
{
    width: 66px;
    height: 30px;
    float: left;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    font-family: 'Arial' , sans-serif;
    background: #3FC449;
    color: #fff;
}
/**************Added the style for the list that we are displying inside the pagination panel.*************/
.main-container .center-panel .center-tablesection .pagination-panel .pagination-list
{
    color: #016fa7;
    text-align: center;
    line-height: 30px;
    float: left;
}
/************* Added the hover,active and visitied link effect for the link resides into pagination panel*************/
.main-container .center-panel .center-tablesection .pagination-panel .pagination-list a:link, .pagination-list a:active, .pagination-list a:visited
{
    color: #016fa7;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    font-family: 'Arial' , sans-serif;
}
/*************margin and padding related styles for the unordered list*************************/
.main-container .center-panel .center-tablesection .pagination-panel .pagination-list ul
{
    margin: 0;
    padding: 0;
}
.main-container .center-panel .center-tablesection .pagination-panel .pagination-list li
{
    float: left;
    list-style: none;
}
/************** poistion,border,width,text alignment and padding related style for listitem*************/
.main-container .center-panel .center-tablesection .pagination-panel .pagination-list li a
{
    float: left;
    margin: 0;
    border-right: solid 1px #dddddd;
    width: auto;
    height: 30px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
}
/************** poistion,border,width,text alignment and padding related style for next link inside the pagination panel*************/
.main-container .center-panel .center-tablesection .pagination-panel .next, .next a
{
    width: 66px;
    height: 30px;
    float: right;
    margin: 0;
    background: #3FC449;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Arial' , sans-serif;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    font-size: 13px;
    color: #fff;
}
/********* Added the hover effect style for the next link inside the pagination panel.*********************/
.main-container .center-panel .center-tablesection .pagination-panel .next:hover
{   
     background: #3FC449;
     color: #fff;
}
/****************Styles to display message after adding the company successfully*****************************/
.main-container .center-panel .center-tablesection .company-add-msg
{
    width: 400px;
    float: left;
    height: 30px;
    margin: 0;
    font-family: 'Arial' , sans-serif;
    background: url(../images/tick.png) no-repeat left 0;
    font-size: 16px;
    font-weight: normal;
    color: #6ebb2d;
    text-decoration: none;
    line-height: 30px;
    padding-left: 35px;
}
/****************Styles to display message after adding the company successfully*****************************/
.main-container .center-panel .center-tablesection .subsection-panel
{
    width: 1064px;
    height: auto;
    margin: 25px 0 0 0;
    float: left;
}
.main-container .center-panel .center-tablesection .subsection-panel table
{
    border: none !important;
}
.main-container .center-panel .center-tablesection .subsection-panel table tbody tr td
{
    border-right: none;
    border-bottom: none;
}

.center-panel
{
    padding-bottom:5px;
}

/****************Styles for login panel submit button*************************/
.button_example
{
    padding-left: 1px;
    text-align: center;
    color: #FFF!Important;
    text-decoration: none;    
}
/*****************Button styles to make it common during whole application************/
.secondbutton_example
{
    border: 1px solid #3FC449;
    padding: 5px 5px 5px 5px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    text-align: center;
    color: #FFFFFF;
    background-color: #3FC449;    
}
/*****************common hover effect for the button **************************************/
.secondbutton_example:hover
{
    border: 1px solid #3FC449;
    background-color: #3FC449;
    cursor:pointer;    
}

.cancelbutton
{
    border: 1px solid #276fa6;
    padding: 5px 5px 5px 5px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    text-align: center;
    color: #FFFFFF;
    background-color: #276fa6;    
}

.cancelbutton:hover
{
    border: 1px solid #276fa6;
    background-color: #276fa6;
    cursor:pointer;    
}

/**************Added the seprate css styles for the submit button on analysis page******************/
.analysisbutton_example
{
    padding-left: 1px;
    text-align: center;
    color: black;
    text-decoration: none;
    vertical-align: top;
}
/************Styles to adjust bottom margin and width for the subscriber list table*********************/
.tabSubscribeHeader
{
    margin-bottom: 20px;
    width: 97%;
}

/***************** Styles to display the Messages throug application ***************************/
.info, .success, .warning, .error, .timeout
{
    /*border: 1px solid;*/
    margin-top: 10px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    display: inline-block;
}
/*****************Differnet styles for info related message with Info icon***********************/
.info
{
    color: #00529B; /*background-color: #BDE5F8;*/
    background-image: url('../Images/info.png');
}
/*****************Differnet styles for Success related message with success icon***********************/
.success
{
    color: #4F8A10; /*background-color: #DFF2BF;*/
    background-image: url('../Images/success.png');
}
/*****************Differnet styles for warning related message with warning icon***********************/
.warning
{
    color: #9F6000; /*background-color: #FEEFB3;*/
    background-image: url('../Images/warning.png');
}
/*****************Differnet styles for error related message with error icon***********************/
.error
{
    color: #D8000C; /*background-color: #FFBABA;*/
    background-image: url('../Images/errorimage.png');
}
/*****************Differnet styles for timeout related message with timeout icon***********************/
.timeout
{
    color: #D8000C;
    height: 80px;
    font-family: Arial;
    font-size: 1.1em;
    padding: 15px 10px 15px 125px;
    background-image: url('Images/session_timeout.png');
}
/************************************************/


/* ordered list */
ol.round
{
    list-style-type: none;
    padding-left: 0;
    font-family: Arial;
    font-size: 0.85em;
}

ol.round li
{
    margin: 10px 0;
    padding-left: 25px;
}
/* TABLE
----------------------------------------------------------*/
.table-layout
{
    margin-top: 5px;
    width: 100%;
    text-align: center;
}

.center
{
    text-align: center;
}

.right
{
    text-align: right;
}

.left
{
    text-align: left;
}

.float-right
{
    float: right;
}
.float-left
{
    float: left;
}

.chk-dashboard
{
    margin: -1px 4px 0 -5px !important;
    padding: 0 10px !important;
}



/****************Added the seprate style for password textbox************/
input[type="text"], input[type="password"]
{
    border: 1px solid #CCCCCC;
    color: #444444;
    font-size: 1.2em;
    padding: 2px;
    width: 200px;
}
/************ Added the styles for the checkboxes***********************/
input[type="checkbox"]
{
    display: none;
}

input[type="checkbox"] + label
{
    display: inline-block;
    width: 20px;
    height: 17px;
    vertical-align: middle;
    background: url('../../Content/Images/elegant.png') 5px top no-repeat;
    cursor: pointer;
    margin: -1px 4px 0 0;
}

input[type="checkbox"]:checked + label
{
    background: url('../../Content/Images/elegant.png') 5px bottom no-repeat;
}

input[type="checkbox"] + label.user
{
    margin: -1px 4px 13px 1px;
}

input[type="checkbox"] + label.dashboard
{
    margin: 2px 0 2px -4px;
    padding: 0px 2px 0px 4px;
}

/***************** Added the seprate styles for the recurly checkbox**************/
input[type="checkbox"] + label.recurly_checkbox
{
    background: url('../../Content/Images/elegant.png') 5px top no-repeat;
    width: 200px;
}
input[type="checkbox"]:checked + label.recurly_checkbox
{
    background: url('../../Content/Images/elegant.png') 5px bottom no-repeat;
    width: 200px;
}
.recurly_checkbox
{
    /*background: wheat;  border-radius:5px;     float:left;*/
    cursor: pointer;
    margin: 3px;
    padding: 0px 35px 0px 35px;
    background: url('../../Content/Images/elegant.png') top no-repeat;
}
.styled_checkbox
{
    /*background: wheat;  border-radius:5px;     float:left;*/
    cursor: pointer;
    margin: 3px;
    padding: 0px 25px 0px 25px;    
}

.userlist_checkbox
{
    cursor: pointer;
    margin: 3px;
    padding: 0px 25px 0px 25px;
    width:150px!important;
}

.styled_list
{
    margin: 4px 0 0 0;
    color: green;
    padding: 3px 5px 3px 5px;
    line-height: 15px; /*    background:lightblue; margin:10px; border-radius:5px; margin-right: 15px;*/
}
/******************** Added the styles for the SAU user type********************/
.SAU
{
    color: #0D4F8B;
    font-size: 12px;
    font-weight: bolder;
}

/******************** Added the styles for the CAU user type********************/
.CAU
{
    color: #6495ED;
    font-size: 12px;
    font-weight: bold;
}

/******************** Added the styles for the CRU user type********************/
.CRU
{
    color: #008000;
    font-size: 12px;
    font-weight: normal;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.sub_amount
{
    width: 89%;
    margin: 0px 20px;
    font-weight: bold;
    text-align: right;
    display: inline-block;
}

.cost
{
    margin: 10px 0px;
}


.input-form
{
    padding: 0 25px;
    float: left;
    width: 94%;
}

.associate_user
{
    display: inline-block;
    float: left;
    width: 92%;
}
/*************** Added the common styles for displying companylist,analysis list,userlist,subscription list*********************/
.CSSTableGenerator
{
    margin: 10px auto;
    padding: 0;
    width: 100%;
    border: 1px solid #DDDDDD;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
/**********************Added the width,height,margin and font related styles for the table resides into CSSTableGenerator div*********/
.CSSTableGenerator table
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: "Arial";
}
/*******************Different style for the last td of the tabel*****************/
.CSSTableGenerator tr:last-child td:last-child
{
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*******************Different style for the first td of the tabel*****************/
.CSSTableGenerator table tr:first-child td:first-child
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.CSSTableGenerator table tr:first-child td:last-child
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.CSSTableGenerator tr:last-child td:first-child
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/***********Added the hover effect onto the tr ****************************/
.CSSTableGenerator tr:hover td
{
}
/***************Alternatives color style for the row inside the table****************/
.CSSTableGenerator tr:nth-child(odd)
{
    background-color: #ffffff;
}
.CSSTableGenerator tr:nth-child(even)
{
    /*background-color: #DBD9D9;*/
    background-color: #ededed;
}
/*************** Styles to set vertical alignment,border,font family for the td inside the table**********/
.CSSTableGenerator td
{
    vertical-align: middle;
    border: 1px solid #DDDDDD;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 2px 2px 2px 7px;
    color: #000000;
    font-size: 13px;
    font-family: "Arial";
}
.CSSTableGenerator tr th
{
    background: -o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);
    background: -moz-linear-gradient(center top , #DDDD 5%, #FBFBFB 100%) repeat scroll 0 0 #CCCCCC;
    background-color: #B2B1B1;
    border: 0px solid #B2B1B1;
    padding: 2px 2px 2px 7px;
    text-align: left;
    border-width: 0px 1px 1px 0px;
    font-weight: bold;
    color: #000000;
    font-family: "Arial";
}
.CSSTableGenerator tr:last-child td
{
    border-width: 1px;
}
.CSSTableGenerator tr td:last-child
{
    border-width: 1px;
}
.CSSTableGenerator tr:last-child td:last-child
{
    border-width: 0px 0px 1px 0px;
}
/*
.CSSTableGenerator tr:first-child td
{
    background: -o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%); 
    background: -moz-linear-gradient(center top , #DDDD 5%, #FBFBFB 100%) repeat scroll 0 0 #CCCCCC; 
    background-color: #B2B1B1;
    border: 0px solid #B2B1B1;
    text-align: left;
    border-width: 0px 0px 1px 1px;
    font-weight: bold;
    color: #000000;
}
*/
.CSSTableGenerator tr:first-child td:first-child
{
    border-width: 0px 1px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child
{
    border-width: 0px 0px 1px 1px;
}

/**************header table css for alignment,textdecoration,width,hover and active effect as well as border styles*************/

.headerTable
{
    margin: 10px auto;
    padding: 0px;
    width: 99.8%;
    border: 1px solid #DDDDDD;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.headerTable table
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.headerTable tr:last-child td:last-child
{
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.headerTable table tr:first-child td:first-child
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.headerTable table tr:first-child td:last-child
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.headerTable tr:last-child td:first-child
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.headerTable td
{
    vertical-align: middle;
    border: 1px solid #DDDDDD;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    color: #000000;
}
.headerTable tr:last-child td
{
    border-width: 0px 1px 0px 0px;
}
.headerTable tr td:last-child
{
    border-width: 0px 0px 1px 0px;
}
.headerTable tr:last-child td:last-child
{
    border-width: 0px 0px 0px 0px;
}
.headerTable tr:first-child td
{
    background: -o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);
    background: -moz-linear-gradient(center top , #FFFFFF 5%, #FBFBFB 100%) repeat scroll 0 0 #CCCCCC; /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");     background: -o-linear-gradient(top,#cccccc,b2b2b2);*/
    background-color: #FFF;
    border: 0px solid #DDDDDD;
    text-align: left;
    border-width: 0px 0px 1px 1px;
    font-weight: 600;
    color: #000000;
}
.headerTable tr:first-child td:first-child
{
    border-width: 0px 0px 0px 0px;
}
.headerTable tr:first-child td:last-child
{
    border-width: 0px 0px 0px 1px;
}

.add
{
    padding-left: 20px !important;
    background: #3FC449 !important;   
    cursor:pointer; 
}


/************* styles to set the plus icon*************/
.plusIcon
{
    height: 11.5px;
}
/************* styles to set the user icon*************/
.usersIcon
{
    height: 20px;
}
/*********** Styles for the fieldset******************/
fieldset
{
    border: solid 1px #DDDDDD;
    margin-left: -1px;
}
/************* styles to set the analsis icon*************/
.analysisIcon
{
    height: 16px!important;
    width: 16px!important;
    margin-top: 0px;
}
.resetPassword
{
    cursor: pointer;
}
.loading
{
    position: absolute;
    display: none;
    border: 1px solid #5c9ccc;
    padding: 2px;
    background-color: #5c9ccc;
    color: #ffffff;
    opacity: 0.90;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 100px;
    height: 50px;
    text-align: center;
    z-index: 100000;
}

sideBar, #sidebar
{
    background-color: #ededed;
    color: #333333;
    width: 180px;
    height: 600px;
    float: left;
    padding: 10px;
    font-size: 12px;
}

checkbox, #checkbox, chkHighlightPosVar, #chkHighlightPosVar, #chkHighlightNegVar, #chkShowVar
{
    padding-left: 10px;
    font-size: 12px;
}

checkboxnoindent, #checkboxnoindent, chkHighlightVar, #chkHighlightVar
{
    font-size: 12px;
}
.indent30
{
    padding-left: 30px;
    font-size: 12px;
}

.indent10
{
    padding-left: 10px;
    font-size: 12px;
}

.indent0
{
    font-size: 12px;
}

.indent10padtop5
{
    padding-left: 10px;
    padding-top: 5px;
    font-size: 12px;
    border: 1px solid silver;
}

.indent20nofont
{
    padding-left: 15px;
}


.breadscrum
{
    margin-left:20px;
}

.breadscrum span
{
    margin:0 5px;
}

.needhelp
{    
    color:#3faed2;
    font-style:italic; 
}
.helpdivider
{
    color:#d4d5d7 !important;     
}