﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
html *
{
    font-size: 14px !important;
    outline: none;
}
page
{
    width: 100%;
    background-color: #fff;
    margin: 0px auto 0px auto;
    border: 1px solid #496077;
}
body
{
    background-color: White;
    width: 960px;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    margin: 0px auto 0px auto;
    padding: 0;
    color: #000;
    font-size: 14px;
    font-weight: normal;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}

a:visited
{
    color: #505abc;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 0px;
    line-height: 1.6em;
}



/* ordered list */
ol.round
{
    list-style-type: none;
    padding-left: 0;
    font-family: "Trebuchet MS" ,Verdana,Helvetica,Sans-Serif;
    font-size: 0.85em;
}

ol.round li
{
    margin: 20px 0;
    padding-left: 25px;
}


nav, section
{
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2
{
    padding: 0 0 0 0;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    color: #003399;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header
{
    background-color: White;
    color: White;
    width: 90px;
    height: 40px;
    padding: 0px;
    margin-left: -28px;
}

header h1, #header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
}

sideBar, #sidebar
{
    background-color: Silver;
    color: #333333;
    width: 180px;
    height: 600px;
    float: left;
    padding: 10px;
    font-size: 9px;
}

topBar, #topbar
{
    background-color: Silver;
    color: #333333;
    width: 950px;
    height: 20px;
    float: left;
    padding: 5px;
    font-size: 9px;
    margin-top: 0px;
}

chart, #chart
{
    height: 1px;
}

main, #main
{
    float: left;
    width: 644px;
    height: 600px;
    padding-left: 50px;
}
#footer
{
    background-color: #C0C0C0;
    width: 844px;
    clear: both;
}

dropdown, #dropdown
{
    width: 200px;
}

checkbox, #checkbox, chkHighlightPosVar, #chkHighlightPosVar, #chkHighlightNegVar, #chkShowVar
{
    padding-left: 10px;
    font-size: 12px;
}

checkboxnoindent, #checkboxnoindent, chkHighlightVar, #chkHighlightVar
{
    font-size: 12px;
}
.indent30
{
    padding-left: 30px;
    font-size: 12px;
}

.indent10
{
    padding-left: 10px;
    font-size: 12px;
}

.indent0
{
    font-size: 12px;
}

.indent10padtop5
{
    padding-left: 10px;
    padding-top: 5px;
    font-size: 12px;
    border: 1px solid silver;
}

.indent20nofont
{
    padding-left: 15px;
}

/*.button{padding: 5px 10px;}*/

.altrowshading
{
    background-color: Silver;
}

sidebarsubheadings, #sidebarsubheadings
{
    background-color: Blue;
    width: 175px;
    height: 15px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    background: url("images/navbg.png") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    font-weight: normal;
    height: 51px;
    line-height: 51px;
    margin: 0;
    padding: 0 13px;
    text-align: left;
    text-decoration: none;
    width: 938px;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 0px 20px 0px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 0px 20px 0px 20px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    line-height: 2.8em;
    color: White;
    border-right: 1px dotted White;
}

ul#menu li a:hover
{
    background: none repeat scroll 0 0 #CEF1FC;
    color: #000000;
    padding: 0 15px;
}

ul#menu li a:active
{
    /*  Color: #FF88AF;*/
    text-decoration: none;
}

ul#menu li.selected a
{
    color: #FF88AF;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd; /*padding: 0 1.4em 1.4em 1.4em;*/
    padding: 0 20px 20px 20px;
    margin: 0 0 1.5em 0;
    margin: auto;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

input[type="text"], input[type="password"]
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}


.select
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.1em;
    color: #444;
    font-family: "Trebuchet MS" ,Verdana,Helvetica,Sans-Serif;
    height: 23px;
}


.input-form
{
    padding: 0 25px;
    float: left;
    width: 94%;
}

input[type="submit"]
{
    /*font-size: 1.2em;*/
    padding: 5px 10px;
}

.input[type="submit"], .input[type="submit"]:link, .input[type="submit"]:visited, .input[type="submit"]:hover, input[type="submit"]:active
{
    text-decoration: none;
}


/*.submit-button
{
    font-family: "Trebuchet MS" ,Verdana,Helvetica,Sans-Serif;
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    margin: 0 10px 0 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 13px;
    text-decoration: none;
    vertical-align: middle;
}

.submit-button:hover
{
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}

.submit-button:active
{
    border-top-color: #1b435e;
    background: #1b435e;
}*/


.reset-button
{
    font-family: "Trebuchet MS" ,Verdana,Helvetica,Sans-Serif;
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    margin: 0 10px 0 0;
    width: 68px;
    height: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 13px;
    text-decoration: none;
    vertical-align: middle;
}

.reset-button:hover
{
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}

.reset-button:active
{
    border-top-color: #1b435e;
    background: #1b435e;
}

.message
{
    color: #9ACD32;
    font-family: "Trebuchet MS" ,Verdana,Helvetica,Sans-Serif;
    font-size: 1em;
    padding: 10px 0;
}

.error-message
{
    color: Red;
    font-family: "Trebuchet MS" ,Verdana,Helvetica,Sans-Serif;
    font-size: 1em;
    padding: 10px 0;
}


/* TABLE
----------------------------------------------------------*/
.table-layout
{
    margin-top: 5px;
    width: 100%;
    text-align: center;
}

.center
{
    text-align: center;
}

.right
{
    text-align: right;
}

.left
{
    text-align: left;
}



/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

nav, #menucontainer
{
    margin-bottom: 0px;
    padding: 0px;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}

#logindisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
    margin: 1em 0 0 0;
    font-family: "Trebuchet MS" ,Verdana,Helvetica,Sans-Serif;
    font-size: 0.85em;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
    font-family: "Trebuchet MS" ,Verdana,Helvetica,Sans-Serif;
    font-size: 0.85em;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/***************** Message ***************************/
.info, .success, .warning, .error
{
    /*border: 1px solid;*/
    margin-top: 10px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    display: inline-block;
}

.info
{
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../Content/Images/info.png');
}
.success
{
    color: #4F8A10; /*background-color: #DFF2BF;*/
    background-image: url('../Content/Images/success.png');
}
.warning
{
    color: #9F6000; /*background-color: #FEEFB3;*/
    background-image: url('../Content/Images/warning.png');
}
.error
{
    color: #D8000C; /*background-color: #FFBABA;*/
    background-image: url('../Content/Images/error.png');
}
/************************************************/

.styled_list
{
    /*  margin:10px; color:green; background:lightblue; border-radius:5px; margin-right: 15px;*/
    padding: 3px 5px 3px 5px;
    line-height: 25px;
}

.styled_checkbox
{
    /* background: wheat;  border-radius:5px;*/
    cursor: pointer;
    margin: 3px;
    padding: 0px 5px 0px 08px;
}

.sub_amount
{
    width: 89%;
    margin: 0px 20px;
    font-weight: bold;
    text-align: right;
    display: inline-block;
}

.cost
{
    margin: 10px 0px;
}

.associate_user
{
    display: inline-block;
    float: left;
    width: 92%;
}


#dvLoading
{
    background: #000 url('../Content/Images/loading.gif') no-repeat center center;
    height: 100px;
    width: 100px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
}

/*.ui-widget{font-family: Trebuchet MS,Verdana,Helvetica,Sans-Serif;}*/


.username
{
    width: 100%;
    color: #2C8EB9;
    font-family: "Trebuchet MS" ,Verdana,Helvetica,Sans-Serif;
    font-size: 15px;
    padding-top: 10px;
    height: 20px;
}
.nav-panel
{
    width: 961px;
    height: 40px;
    margin: 0;
    background: url(images/navbg.png) repeat-x;
    padding: 0 13px 0;
    color: #FFF;
    text-align: left;
    text-decoration: none;
    line-height: 40px;
    list-style: none;
}
.nav-panel a:link, .nav-panel a:active, .nav-panel a:visited
{
    font-size: 16px;
    font-weight: normal;
    color: #FFF;
    text-align: left;
    text-decoration: none;
    line-height: 40px;
}
.nav-panel ul
{
    margin: 0;
    padding: 0;
    float: left;
}
.nav-panel li
{
    float: left;
    margin: 0;
    list-style: none;
}
.nav-panel li a
{
    list-style: none;
    float: left;
    width: auto;
    margin: 0;
    padding: 0 15px;
}
.nav-panel li a:hover
{
    background: #cef1fc;
    color: #000;
    padding: 0 15px;
}
.nav-panel li.activenav a
{
    background: #cef1fc;
    color: #000;
    padding: 0 15px;
}


.button_example
{
    color: White;
    cursor: pointer;
    text-align: center;
    width: auto;
    height: 30px !important;
    background-color: #107FC7;
    /*
    background-color: #95B8D3;
    border: 0 none;
    color: #212121;
    height: 2em;
    min-width: 6em;
    padding: 3px 12px 5px;
    cursor: pointer;
    color: White;*/
}

.button_example:hover
{
    background-color: #95B8D3;
    cursor: pointer;
    color: White;
    text-align: center;
    cursor: pointer;
    width: auto;
    height: 30px !important;
    /*
    background-color: #107FC7;
    border: 0 none;
    color: #212121;
    height: 2em;
    min-width: 6em;
    padding: 3px 12px 5px;
    cursor: pointer;
    color: White;*/
}
