﻿/*----------------------------------------------------------
This css is used for the _Layout master page and its content
pages.
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
html*
{
    font-size: 14px !important;
    outline: none;
}
page
{
    width: 100%;
    background-color: #fff;
    margin: 0px auto 0px auto;
    border: 1px solid #496077;
    outline: none;
}
body
{
    background-color: White;
    width: 960px;
    font-family: "Arial";
    margin: 0px auto 0px auto;
    padding: 0;
    color: #000;
    font-size: 14px;
    font-weight: normal;
    outline: none;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}

a:visited
{
    color: #505abc;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 0px;
    line-height: 1.6em;
}



/* ordered list */
ol.round
{
    list-style-type: none;
    padding-left: 0;
    font-family: "Arial";
    font-size: 0.85em;
}

ol.round li
{
    margin: 20px 0;
    padding-left: 25px;
}


nav, section
{
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2
{
    padding: 0 0 0 0;
    font-family: "Arial";
    color: #003399;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.center-panel
{
    width: 100%;
    height: auto;
    float: left;
    margin: 0px;
    min-height: 430px;
}

header, #header
{
    background-color: White;
    color: White;
    width: 90px;
    height: 40px;
    padding: 0px;
    margin-left: -28px;
}

header h1, #header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
}

sideBar, #sidebar
{
    background-color: Silver;
    color: #333333;
    width: 180px;
    height: 600px;
    float: left;
    padding: 10px;
    font-size: 9px;
}

topBar, #topbar
{
    background-color: Silver;
    color: #333333;
    width: 950px;
    height: 20px;
    float: left;
    padding: 5px;
    font-size: 9px;
    margin-top: 0px;
}

chart, #chart
{
    height: 1px;
}

main, #main
{
    float: left;
    width: 644px;
    height: 600px;
}
#footer
{
    background-color: #C0C0C0;
    width: 844px;
    clear: both;
}

dropdown, #dropdown
{
    width: 200px;
}

checkbox, #checkbox, chkHighlightPosVar, #chkHighlightPosVar, #chkHighlightNegVar, #chkShowVar
{
    padding-left: 10px;
    font-size: 12px;
}

checkboxnoindent, #checkboxnoindent, chkHighlightVar, #chkHighlightVar
{
    font-size: 12px;
}
.indent30
{
    padding-left: 30px;
    font-size: 12px;
}

.indent10
{
    padding-left: 10px;
    font-size: 12px;
}

.indent0
{
    font-size: 12px;
}

.indent10padtop5
{
    padding-left: 10px;
    padding-top: 5px;
    font-size: 12px;
    border: 1px solid silver;
}

.indent20nofont
{
    padding-left: 15px;
}

/*.button{padding: 5px 10px;}*/

.altrowshading
{
    background-color: Silver;
}

sidebarsubheadings, #sidebarsubheadings
{
    background-color: Blue;
    width: 175px;
    height: 15px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    background: url("images/navbg.png") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    font-weight: normal;
    height: 40px;
    line-height: 38px;
    margin: 0;
    padding: 0 13px;
    text-align: left;
    text-decoration: none;
    width: 934px;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 0px 20px 0px 20px;
    font-size: 12px;
    text-decoration: none;
    line-height: 2.8em;
    color: White;
    border-right: 1px dotted White;
}

ul#menu li a:hover
{
    background-color: #B0D0E9;
    color: #000000;
    padding: 0px 20px 0px 20px;
}

ul#menu li a:active
{
    /*  Color: #FF88AF;*/
    text-decoration: none;
}

ul#menu li.selected a
{
    color: #FF88AF;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0.35em 0.625em 1.75em;
    margin:0px 0px 0px -1px;    
     /*padding: 0 1.4em 1.4em 1.4em; 
    padding: 0 20px 20px 20px; 
    margin: 0 0 1.5em 0;
    margin: auto;*/
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

input[type="text"], input[type="password"]
{
    border: 1px solid #ccc;
    padding: 2px;
    color: #444;
    width: 200px;
}

.select
{
    border: 1px solid #ccc;
    padding: 2px;
    color: #444;
    width: 175px; /*font-size: 1.1em;         font-family: "Trebuchet MS" ,Verdana,Helvetica,Sans-Serif;     height: 23px;*/
}

.input-form
{
    padding: 0 25px;
    float: left;
    width: 94%;
}

input[type="submit"]
{
    /*font-size: 1.2em;*/
    padding: 5px 10px;
}

.input[type="submit"], .input[type="submit"]:link, .input[type="submit"]:visited, .input[type="submit"]:hover, input[type="submit"]:active
{
    text-decoration: none;
}

.reset-button
{
    font-family: "Arial";
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    margin: 0 10px 0 0;
    width: 68px;
    height: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 13px;
    text-decoration: none;
    vertical-align: middle;
}

.reset-button:hover
{
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}

.reset-button:active
{
    border-top-color: #1b435e;
    background: #1b435e;
}

.message
{
    color: #9ACD32;
    font-family: "Arial";
    font-size: 1em;
    padding: 10px 0;
}

.error-message
{
    color: Red;
    font-family: "Arial";
    font-size: 1em;
    padding: 10px 0;
}


/* TABLE
----------------------------------------------------------*/
.table-layout
{
    margin-top: 5px;
    width: 100%;
    text-align: center;
}

.center
{
    text-align: center;
}

.right
{
    text-align: right;
}

.left
{
    text-align: left;
}



/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

nav, #menucontainer
{
    margin-bottom: 0px;
    padding: 0px;
     
    /*
    padding-left: 25%; 
    padding-right: 21%;     
    margin-left:-25%;    
    */
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}

#logindisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
    margin: 1em 0 0 0;
    font-family: "Arial";
    font-size: 0.85em;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
    font-family: "Arial";
    font-size: 0.85em;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/***************** Styles to display the Messages throug application ***************************/
.info, .success, .warning, .error, .timeout
{
    /*border: 1px solid;*/
    margin-top: 10px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    display: inline-block;
}
/*****************Differnet styles for info related message with Info icon***********************/
.info
{
    color: #00529B;
    /*background-color: #BDE5F8;*/
    background-image: url('../Content/Images/info.png');
}
/*****************Differnet styles for Success related message with success icon***********************/
.success
{
    color: #4F8A10; /*background-color: #DFF2BF;*/
    background-image: url('../Content/Images/success.png');
}
/*****************Differnet styles for warning related message with warning icon***********************/
.warning
{
    color: #9F6000; /*background-color: #FEEFB3;*/
    background-image: url('../Content/Images/warning.png');
}
/*****************Differnet styles for error related message with error icon***********************/
.error
{
    color: #D8000C; /*background-color: #FFBABA;*/
    background-image: url('../Content/Images/error.png');
}
/*****************Differnet styles for timeout related message with timeout icon***********************/
.timeout
{
    color: #D8000C;
    height: 80px;
    font-family: Segoe UI;
    font-size: 1.1em;
    padding: 15px 10px 15px 125px;
    background-image: url('Images/session_timeout.png');
}
/************ Added the styles for the checkboxes***********************/

input[type="checkbox"]
{
     display: none;    
}

input[type="checkbox"] + label
{
    display: inline-block;
    width: 20px;
    height: 17px;    
    vertical-align: middle;
    background: url('../Content/Images/elegant.png') 5px top no-repeat;
    cursor: pointer;
}
input[type="checkbox"]:checked + label
{
    background: url('../Content/Images/elegant.png') 5px bottom no-repeat;
}
input[type="checkbox"] + label.user
{
     margin: -1px 4px 13px 0;    
}

input[type="checkbox"] + label.dashboard
{
     margin: 2px 0 2px -4px;  
     padding:0px 2px 0px 4px;
}
/***************** Added the seprate styles for the recurly checkbox**************/
input[type="checkbox"] + label.recurly_checkbox
{
    background: url('../Content/Images/elegant.png') 5px top no-repeat;
    width: 200px;
}
input[type="checkbox"]:checked + label.recurly_checkbox
{
    background: url('../Content/Images/elegant.png') 5px bottom no-repeat;
    width: 200px;
}
.recurly_checkbox
{
    /*background: wheat;  border-radius:5px;     float:left;*/
    cursor: pointer;
    margin: 3px;
    padding: 0px 35px 0px 35px;        
    background: url('../Content/Images/elegant.png') top no-repeat;        
}

.styled_list
{
    /*  margin:10px; color:green; background:lightblue; border-radius:5px; margin-right: 15px;*/
    padding: 3px 5px 3px 5px;
    line-height: 25px;
}

.styled_checkbox
{
    /* background: wheat;  border-radius:5px;*/
    cursor: pointer;
    margin: 3px;
    padding: 0px 5px 0px 08px;
}

.sub_amount
{
    width: 89%;
    margin: 0px 20px;
    font-weight: bold;
    text-align: right;
    display: inline-block;
}

.cost
{
    margin: 10px 0px;
}

.associate_user
{
    display: inline-block;
    float: left;
    width: 92%;
}

/************* Added the styles for loading panel******************/
#dvLoading
{
    background: #000 url('../Content/Images/loading.gif') no-repeat center center;
    height: 100px;
    width: 100px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
}

/*.ui-widget{font-family: Trebuchet MS,Verdana,Helvetica,Sans-Serif;}*/


.username
{
    width: 100%;
    color: #2C8EB9;
    font-family: "Arial";
    font-size: 15px;
    padding-top: 10px;
    height: 20px;
}
/**************** Added the styles for nam-panel position,width,height,background color****************/
.nav-panel
{
    width: 961px;
    height: 30px;
    margin: 0; /*background: url(images/navbg.png) repeat-x;*/
    padding: 0 13px 0;
    color: #FFF;
    text-align: left;
    text-decoration: none;
    line-height: 25px;
    list-style: none;
    background-color: #276fa6;
    font-size:12.5;       
}
/**************** Added the style for active,visited and anchor tag*****************************/
.nav-panel a:link, .nav-panel a:active, .nav-panel a:visited
{
    font-size: 13px;
    font-weight: normal;
    color: #FFF;
    text-align: left;
    text-decoration: none;
    line-height: 30px;
    border-right: 1px solid white;
}

.nav-panel li:first-child,.nav-panel li:first-child, .nav-panel li:first-child
{
    border-left: 1px solid white;
}
/************ Margin and padding related css for unorderd list inside the nav-panel***************/
.nav-panel ul
{
    margin: 0;
    padding: 0;
    float: left;
}
.nav-panel li
{
    float: left;
    margin: 0;
    list-style: none;
}
/************* Added the different styles for the anchor tag insideth nav panel*******************/
.nav-panel li a
{
    list-style: none;
    float: left;
    width: auto;
    margin: 0;
    padding: 0 15px;
}
/************* Added the hover effect on th anchor tag resides into nav-panel***************/
.nav-panel li a:hover
{
    background: #B0D0E9;
    color: #000;
    padding: 0 15px;
}
.nav-panel li.activenav a
{
    background: #cef1fc;
    color: #000;
    padding: 0 15px;
}
/************ login button css for the _Layout master page*****************/
.button_example
{
    border: 1px solid #183650; /*-webkit-border-radius: 3px;     -moz-border-radius: 3px;     border-radius: 3px;   */
    padding: 1px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    text-align: center;
    color: #FFFFFF;
    background-color: #276fa6; /* background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));     background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);     background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);     background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);     background-image: -o-linear-gradient(top, #a5b8da, #7089b3);     background-image: linear-gradient(to bottom, #a5b8da, #7089b3);     filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);*/
}
/************* login buttonhover effect**********************/
.button_example:hover
{
    border: 1px solid #276FA6;
    background-color: #276FA6; /*background-image: -webkit-gradient(linear, left top, left bottom, from(#819bcb), top(#536f9d));     background-image: -webkit-linear-gradient(top, #819bcb, #536f9d);     background-image: -moz-linear-gradient(top, #819bcb, #536f9d);     background-image: -ms-linear-gradient(top, #819bcb, #536f9d);     background-image: -o-linear-gradient(top, #819bcb, #536f9d);     background-image: linear-gradient(to bottom, #819bcb, #536f9d);     filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#819bcb, endColorstr=#536f9d);*/
}
/*****************Button styles to make it common during whole application************/
.secondbutton_example
{
    border: 1px solid #3FC449;
    padding: 5px 5px 5px 5px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    text-align: center;
    color: #FFFFFF;
    background-color: #3FC449;
}
/*****************common hover effect for the button **************************************/
.secondbutton_example:hover
{
    border: 1px solid #3FC449;
    background-color: #3FC449;
    cursor:pointer; 
}
/********* Added the margin,width,position and listitems ,li hover effect related styles for the Bredcrumb panel*************/
.bredcurm-panel
{
    width: 98%; /*height: 40px;*/
    float: left;
    margin: -15px 0 0 0;
    background: #f1f0f1;
    border: solid 1px #b0d0e9;
    padding: 0 0 0 20px;
    background-color: #b0d0e9;
}

.bredcurm-panel .bredcrumb-nav
{
    width: auto;
    height: auto;
    float: left;
    font-size: 18px;
    font-weight: normal;
    color: black;
    text-align: left;
    line-height: 30px;
    margin-left: -15px;
    font-weight: 600;
}
.bredcrumb-nav a:link, .bredcrumb-nav a:active, .bredcrumb-nav a:visited
{
    font-size: 12px;
    font-weight: normal;
    color: #3672ba;
    text-align: left; /*line-height: 40px;*/
    margin: 0;
    font-family: 'Segoe UI' , sans-serif;
}
.bredcrumb-nav ul
{
    margin: 0;
    padding: 0;
}
.bredcrumb-nav li
{
    list-style: none;
    float: left;
    margin: 0;
}
.bredcrumb-nav li a
{
    width: auto;
    margin: 0 10px 0 0;
    background: url(../images/bredcrumbarrow.png) no-repeat right 6px;
    padding: 0 10px 0 10px;
    text-decoration: none;
}
.bredcrumb-nav li.last-arrow a
{
    background-image: none;
}

/**************header table css for alignment,textdecoration,width,hover and active effect as well as border styles*************/

.headerTable
{
    margin: 10px auto;
    padding: 0px;
    width: 99.8%;
    border: 1px solid #DDDDDD;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.headerTable table
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.headerTable tr:last-child td:last-child
{
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.headerTable table tr:first-child td:first-child
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.headerTable table tr:first-child td:last-child
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.headerTable tr:last-child td:first-child
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.headerTable td
{
    vertical-align: middle;
    border: 1px solid #DDDDDD;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    color: #000000;
}
.headerTable tr:last-child td
{
    border-width: 0px 1px 0px 0px;
}
.headerTable tr td:last-child
{
    border-width: 0px 0px 1px 0px;
}
.headerTable tr:last-child td:last-child
{
    border-width: 0px 0px 0px 0px;
}
.headerTable tr:first-child td
{
    background: -o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);
    background: -moz-linear-gradient(center top , #FFFFFF 5%, #FBFBFB 100%) repeat scroll 0 0 #CCCCCC; /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");     background: -o-linear-gradient(top,#cccccc,b2b2b2);*/
    background-color: #FFF;
    border: 0px solid #DDDDDD;
    text-align: left;
    border-width: 0px 0px 1px 1px;
    font-weight: 600;
    color: #000000;
}
.headerTable tr:first-child td:first-child
{
    border-width: 0px 0px 0px 0px;
}
.headerTable tr:first-child td:last-child
{
    border-width: 0px 0px 0px 1px;
}
