﻿@Code
    ViewData("Title") = "Home Page"
    Layout = "~/Views/Shared/_Layout.vbhtml"    
End Code

 

 <div>
    PlanGuru Analytics is a tool that enables PlanGuru users to create a dashboard of your company's key performance indicators and analyze both financial and non-financial data in a flexible and easy to use environment.
 </div>

 
@*<div  style="display: none;">
            @Html.TextBox("intBrowserWidth")
</div>*@
