﻿@model PlanguruSubscription.Models.ResetPassword
@using System.Collections.Generic
@using PlanguruSubscription.Models
@{
    ViewData["Title"] = "PlanGuru Subscription | Edit Profile";
    if (Session["action"] != null)
    {

        if ((Session["action"] == "SetDefaultAnalysis" | Session["action"] == "GetAnalyses"))
        {
            Layout = null;
            Session.Remove("action");
        }
    }
    else
    {
        Layout = "~/Views/Shared/_AnalyticsMaster.cshtml";
    }

    User UserInfo = new User();

    if ((Session["UserInfo"] != null))
    {
        UserInfo = (User)Session["UserInfo"];
    }

    UserAccess ua = new UserAccess();
    if ((Session["UserAccess"] != null))
    {
        ua = (UserAccess)Session["UserAccess"];
    }
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="headerTable" style="float: right">
    <table>
        <tr>
            <td align="left" width="70%">
                <div class="breadscrum"><a href='@Url.Action("Index", "User")'>Home</a><span> > </span>Edit User Information</div>
            </td>
        </tr>
    </table>
</div>
<div class="center-panel">
    @using (Html.BeginForm("EditProfile", "User"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        if (Model != null)
        {
            <fieldset>
                <div style="width: 100;">
                    <div style="float: left; width: 33%; display: inline-block;">
                        <ol class="round">
                            <li>
                                @Html.LabelFor(m => m.UserName)<br />
                                @Html.TextBoxFor(m => m.UserName)<br />
                                @Html.ValidationMessageFor(m => m.UserName)
                            </li>
                            <li>
                                @Html.LabelFor(m => m.UserEmail)<br />
                                @Html.TextBoxFor(m => m.UserEmail)<br />
                                @Html.ValidationMessageFor(m => m.UserEmail)
                            </li>
                            @if ((UserInfo.UserRoleId == (int)UserRoles.SAU | UserInfo.UserRoleId == (int)UserRoles.SSU))
                            {
                                <li>
                                    @Html.LabelFor(m => m.SubscriberName)<br />
                                    @Html.TextBoxFor(m => m.SubscriberName)<br />
                                    @Html.ValidationMessageFor(m => m.SubscriberName)
                                </li>
                            }
                            else
                            {
                                @Html.HiddenFor(m => m.SubscriberName);
                            }
                        </ol>
                    </div>
                    <div style="float: left; width: 33%; display: inline-block;">
                        <ol class="round">
                            <li>
                                @Html.LabelFor(m => m.FirstName)<br />
                                @Html.TextBoxFor(m => m.FirstName)<br />
                                @Html.ValidationMessageFor(m => m.FirstName)
                            </li>
                            <li>
                                @Html.LabelFor(m => m.LastName)<br />
                                @Html.TextBoxFor(m => m.LastName)<br />
                                @Html.ValidationMessageFor(m => m.LastName)
                            </li>
                            <li>
                                <div style="padding: 0 0 20px; float: left;">@Html.Label("Do you want to change your password ?")</div>@Html.CheckBoxFor(m => m.ChangePassword, new { @class = "styled_checkbox" })
                            </li>
                        </ol>
                    </div>
                    <div id="ResetPassword" style="width: 33%; float: left; display: none;">
                        <ol class="round">
                            <li>
                                @Html.LabelFor(m => m.CurrentPassword)<br />
                                @Html.PasswordFor(m => m.CurrentPassword)<br />
                                @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { id = "ValidateCurrentPassword" })
                            </li>
                            <li>
                                @Html.LabelFor(m => m.NewPassword)<br />
                                @Html.PasswordFor(m => m.NewPassword)<br />
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { id = "ValidateNewPassword" })
                            </li>
                            <li>
                                @Html.LabelFor(m => m.ConfirmNewPassword)<br />
                                @Html.PasswordFor(m => m.ConfirmNewPassword)<br />
                                @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { id = "ValidateConfirmPassword" })
                            </li>
                        </ol>
                    </div>
                    <div class="input-form">
                        <input id="Update" type="submit" value="Update Profile" class="secondbutton_example" />
                        <input id="cancel-button" type="button" value="Cancel" class="secondbutton_example" />
                    </div>
                    @Html.HiddenFor(m => m.UserId)
                    @Html.HiddenFor(m => m.UserRoleId)
                </div>
            </fieldset>
        }


        <div style="float: left; margin-left: 20px;">
            @if ((string)TempData["Message"] != null)
            {
                <label class="success"> @TempData["Message"].ToString()</label>
            }
            @if ((string)TempData["ErrorMessage"] != null)
            {
                <label class="error"> @TempData["ErrorMessage"].ToString()</label>
            }
        </div>
    }
</div>
<script type="text/javascript" language="javascript">

    $(document).ready(function () {
        IsSessionAlive();

        $("#ChangePassword").after("<label name='ChangePassword_lbl' class='styled_checkbox' for='ChangePassword'></label>");

        //Input Mask for landline phone number
        $("#ContactTelephone").mask("(999)-999-9999");
        //$("#FiscalMonthStart").mask("9?9");

        ChangePassword();

        $("#ChangePassword").click(function (event) {
            ChangePassword();
        });

        function ChangePassword() {
            IsSessionAlive();
            if ($("#ChangePassword").is(':checked')) {
                $("#ResetPassword").show();
            }
            else {
                $("#ResetPassword").hide();
            }
        }

        $('#Update').click(function (event) {
            IsSessionAlive();
            var validate = true;

            if ($("#ChangePassword").is(':checked')) {

                validate = validateCurrentPassword(validate);
                validate = validateNewPassword(validate);
                validate = validateConfirmPassword(validate);
            }

            return validate;
        });

        $("#CurrentPassword").blur(function (event) {
            validateCurrentPassword(true);
        });

        function validateCurrentPassword(validate) {

            IsSessionAlive();
            if ($("#CurrentPassword").val() == "") {
                $("#ValidateCurrentPassword").removeClass("field-validation-valid").addClass("field-validation-error");
                $("#ValidateCurrentPassword").text("Current Password is required.");
                return false;
            }
            else {
                $("#ValidateCurrentPassword").removeClass("field-validation-error").addClass("field-validation-valid");
                $("#ValidateCurrentPassword").text("");
            }

            if (($("#CurrentPassword").val() != "") && validate == false) {
                return false;
            }

            return true;
        }

        $("#NewPassword").blur(function (event) {
            validateNewPassword(true);
        });
        function validateNewPassword(validate) {
            IsSessionAlive();
            if ($("#NewPassword").val() == "") {
                $("#ValidateNewPassword").removeClass("field-validation-valid").addClass("field-validation-error");
                $("#ValidateNewPassword").text("New Password is required.");
                return false;
            }
            else {
                $("#ValidateNewPassword").removeClass("field-validation-error").addClass("field-validation-valid");
                $("#ValidateNewPassword").text("");
            }

            if (($("#NewPassword").val() != "") && validate == false) {

                return false;
            }

            return true;
        }


        $("#ConfirmNewPassword").blur(function (event) {
            validateConfirmPassword(true);
        });

        function validateConfirmPassword(validate) {

            if ($("#ConfirmNewPassword").val() == "") {
                $("#ValidateConfirmPassword").removeClass("field-validation-valid").addClass("field-validation-error");
                $("#ValidateConfirmPassword").text("Confirm New Password is required.");
                return false;
            }
            else {
                $("#ValidateConfirmPassword").removeClass("field-validation-error").addClass("field-validation-valid");
                // $("#ValidateConfirmPassword").text("");
            }

            if (($("#ConfirmNewPassword").val() != "") && validate == false) {

                return false;
            }

            return true;
        }


    });
    $("#cancel-button").click(function () {
        window.location = '@Url.Action("Index", "User")';
    });
</script>

