﻿@model PagedList.IPagedList<PlanguruSubscription.Models.User>
@using PlanguruSubscription
@using PlanguruSubscription.Models
@{
    ViewBag.Title = "Index";
    if (Session["action"] != null)
    {

        if ((Session["action"] == "SetDefaultAnalysis" | Session["action"] == "GetAnalyses"))
        {
            Layout = null;
            Session.Remove("action");
        }
    }
    else
    {
        Layout = "~/Views/Shared/_AnalyticsMaster.cshtml";
    }
    int index = 1;
    User UserInfo = new User();
    UserAccess ua = new UserAccess();
    if ((Session["UserAccess"] != null))
    {
        ua = (UserAccess)Session["UserAccess"];
    }

    if ((Session["UserInfo"] != null))
    {
        UserInfo = (User)Session["UserInfo"];
    }

}
<div class="headerTable" style="float: right">
    <table>
        <tr>
            <td align="left" width="70%">
                View User List
            </td>
            @if (ua.AddUser == true)
            {
                <td align="right" width="12%" class="add button_example" href='@Url.Action("CreateUser", "User")'>
                    <img src='@Url.Content("~/Content/Images/plus.gif")' class="plusIcon" /> New User
                </td>
            }
        </tr>
    </table>
</div>

<div class="center-panel">
    <div class="center-tablesection">
        <div class="CSSTableGenerator">
            <table>
                @if ((Model != null) && Model.TotalItemCount > 0)
                {
                    <thead>
                        <tr>
                            <th style="width:15%">
                                User Name
                            </th>
                            <th style="width: 18%">
                                User Full Name
                            </th>
                            <th style="width: 17%">
                                User Email
                            </th>
                            <th style="width:7%">
                                User Role
                            </th>
                            @if (UserInfo.UserRoleId != (int)UserRoles.CAU | UserInfo.UserRoleId != (int)UserRoles.CRU)
                            {
                                <th style="width: 10%; text-align: center;">
                                    User Status
                                </th>
                            }
                            <th style="width:10%">
                                Reset Password
                            </th>
                            <th style="width: 5%">
                                Edit
                            </th>
                            <th style="width: 5%">
                                Delete
                            </th>
                        </tr>
                    </thead>
                    foreach (var item in Model)
                    {

                        var currentItem = item;
                        string cssClass = index % 2 == 0 ? "even" : "";
                        string userStatus = Enum.GetName(typeof(StatusE), currentItem.Status);
                        <tr class='@cssClass'>
                            <td>
                                @Html.DisplayFor(m => currentItem.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => currentItem.LastName)
                                @Html.DisplayFor(m => currentItem.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => currentItem.UserEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(m => currentItem.UserRole.RoleName)
                            </td>
                            @if (UserInfo.UserRoleId != (int)UserRoles.CAU | UserInfo.UserRoleId != (int)UserRoles.CRU)
                            {
                                <td style="text-align: center;">
                                    @Html.DisplayFor(m => userStatus)
                                </td>
                            }
                            <td style="text-align: center;">
                                <a class="resetPassword" onclick="javascript:resetPasswordConfirmation('@currentItem.UserName','@Url.Action("ResetPassword", "User", new {userId = currentItem.UserId, pathToRedirect = "user"})');">
                                    <img alt="Reset Password" src='@Url.Content("~/Content/Images/ResetPasword.png")' title="Reset Password" style="height:19px;width:19px;" />
                                </a>
                            </td>
                            <td>
                                <a href='@Url.Action("Edit", "User", new {userAccountCode = currentItem.UserId})'>
                                    <img alt="Edit User" src='@Url.Content("~/Content/Images/edit.png")' title="Edit User" />
                                </a>
                            </td>
                            <td>
                                <a id='@currentItem.UserId' class="Delete" href="#" data='@Url.Action("Delete", "User", new {userAccountCode = currentItem.UserId})'>
                                    <img alt="Delete User" src='@Url.Content("~/Content/Images/delete.png")' title="Delete User" />
                                </a>
                            </td>
                        </tr>
                            index += 1;
                    }
                }
                else
                {
                    <tr>
                        <td style="text-align: center;">
                            No user records found.
                        </td>
                    </tr>
                }
            </table>
        </div>
        @if ((Model != null) && Model.TotalItemCount > 10)
        {
            <div class="pagination-panel">
                @if (Model.HasPreviousPage) {
                <a href='@Url.Action("Index", "User", new {page = Model.PageNumber - 1})'
                   class="prevous">Previous</a>
                }
                else
                {
                <a class="no-prevous">Previous</a>
                }
                <div class="pagination-list">
                    <ul>
                        @for (index = 1; index <= Model.PageCount; index++) {
                        <li><a href='@Url.Action("Index", "User", new {page = index})'>@index</a></li>
                        }
                    </ul>
                </div>
                @if (Model.HasNextPage) {
                <a href='@Url.Action("Index", "User",new {page = Model.PageNumber + 1})'
                   class="next">Next</a>
                }
                else
                {
                <a class="no-next">Next</a>
                }
            </div>
        }
        @if (((string)TempData["Message"] != null))
        {

            <label class="success">
                @TempData["Message"].ToString()
            </label>
        }
        @if (((string)TempData["ErrorMessage"] != null))
        {
            <label class="error">
                @TempData["ErrorMessage"].ToString()
            </label>
        }
    </div>
</div>
<script type="text/javascript" language="javascript">

                $(".Delete").click(function (event) {
                    IsSessionAlive();
                    event.preventDefault();
                    var url = $(this).attr('data');

                    $.msgBox({
                        title: "Confirm",
                        content: "Are you sure you want to delete this user?",
                        type: "confirm",
                        buttons: [{ value: "Yes" }, { value: "No" }],
                        success: function (result) {
                            if (result == "Yes") {
                                window.location = url;
                            }
                        },
                        afterShow: function () { $('[name=No]').focus(); }
                    });

                });

                $(document).ready(function () {
                    IsSessionAlive();
                });


</script>







