﻿@model PlanguruSubscription.Models.SubscriptionPlan
@{
    ViewBag.Title = "BusinessSignup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/themes/default/examples.css")" type="text/css" />

<div id="billing-info" class="section">
    <div id="choose_subscription_container">
        <h2 class="heading" style="margin-left:40px;">
            PlanGuru for Businesses:
        </h2>
        <br/>
        <div style="width:90%;margin:0px 0px 40px 40px;display:inline-block;">
            <br />
            <span>Choose the subscription plan that best fits your needs:</span>
            <br/>
            <br/>
            <table style="width:660px">
                <tbody>
                    <tr>
                        <td style="width:330px;padding-right:20px;">
                            <h3>@Html.RadioButton("subscription_plan", 3, new { @group = "subscription_plan", style = "width:auto;" })<strong>Monthly&nbsp;Subscription&nbsp;&nbsp;$99</strong></h3>

                            <p style="width:300px;">Includes 1 user of PlanGuru, Advanced Reporting Excel Add-in and PlanGuru Analytics</p>
                            <h4>
                                <strong>
                                    Additional Users can be purchased on the next page for $29.
                                </strong>
                            </h4>
                        </td>
                        <td style="width:330px">
                            <h3>@Html.RadioButton("subscription_plan", 4, new { @group = "subscription_plan", style = "width:auto;" })&nbsp;<strong>Annual&nbsp;Subscription&nbsp;$899&nbsp;</strong></h3>

                            <p style="width:300px;">Includes 1 user of PlanGuru, Advanced Reporting Excel Add-in and PlanGuru Analytics</p> 

                            <h4 >
                                <strong>
                                    Additional Users can be purchased on the next page for $299.
                                </strong>
                            </h4>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <br/>

       
            <div class="float-right">
                <input type="submit" value="Proceed to sign-up page" class="secondbutton_example" />
            </div>
        </div>
    </div>

    <div style="float:left;margin-left:20px;">
        @if (((string)TempData["Message"] != null))
        {

            <label class="success">
                @TempData["Message"].ToString()
            </label>
        }
        @if (((string)TempData["ErrorMessage"] != null))
        {
            <label class="error">
                @TempData["ErrorMessage"].ToString()
            </label>
        }

    </div>

</div>
<script type="text/javascript" language="javascript">

    $(".secondbutton_example").click(function () {

        var selectedPlan = $('input[name=subscription_plan]:checked').val();

        if (selectedPlan == undefined) {

            $.msgBox({
                title: "Subscription Plan",
                content: "Please select plan to subscribe.",
                type: "info",
                buttons: [{ value: "Ok"}],
                success: function (result) {
                },
                afterShow: function () { $('[name=Ok]').focus(); }
            });

        }
        if (selectedPlan == 3) {
            window.location = '@Url.Action("Subscribe", "SelectSubscription", new {selectedPlan = 3})';
        }
        else if (selectedPlan == 4) {
            window.location = '@Url.Action("Subscribe", "SelectSubscription", new {selectedPlan = 4})';
        }

    });

</script>


