html *
{
    font-size: 14px !important;
    outline: none;
}
body
{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    border-top: solid 7px #b2b1b1;
}

a, img
{
    outline: none;
    border: 0;
}
img
{
    border: 0 none;
}
h1, h2, h3, p, ul
{
    margin: 0;
    padding: 0;
}
h1, h2, h3
{
    font-family: 'Conv_segoeui_2';
}
h1
{
    width: 100%;
    height: 20px;
    float: left;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    color: #252525;
    text-align: left;
    text-decoration: none;
    line-height: 20px;
}
h2
{
    width: 100%;
    height: 20px;
    float: left;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #252525;
    text-align: left;
    text-decoration: none;
    line-height: 20px;
}
p
{
    width: 100%;
    height: auto;
    float: left;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    text-align: left;
    text-decoration: none;
}
ul li
{
    list-style: none;
}
input.input-text
{
    border: solid 1px #dddddd;
    background: #fff;
    font-size: 15px;
    color: #a7a7a7;
}
/*Global Declaration*/
/*class Declaration*/
.wrapper
{
    width: 100%;
    height: auto;
    float: left;
    margin: 0;
}
.main-container
{
    width: 1100px;
    height: auto;
    margin: 0 auto;
}
/* Header section*/
.main-container .header
{
    width: 1100px;
    height: 78px;
    float: left;
    margin: 0;
}
.main-container .header .logo-panel
{
    width: 364px;
    height: 78px;
    float: left;
    margin: 0;
}
.main-container .header .header-right
{
    width: 600px;
    height: 78px;
    float: right;
    margin: 0;
}
.main-container .header .header-right .user-panel
{
    width: 400px;
    height: 32px;
    float: right;
    margin: 0;
}
.main-container .header .header-right .user-panel .logout-section, .logout-section a
{
    width: auto;
    height: 33px;
    float: right;
    margin: 0;
    background: #b2b1b1 url(../images/logout-btn.png) no-repeat 68px 10px;
    font-family: 'Conv_segoeui_2' , sans-serif;
    color: #191919;
    text-align: center;
    line-height: 33px;
    text-decoration: none;
    padding: 0 35px 0 10px;
}
.main-container .header .header-right .user-panel .welcome-user
{
    width: auto;
    float: right;
    height: 32px;
    margin: 0 17px 0 0;
    font: 16px;
    font-family: 'Conv_segoeui_2' , sans-serif;
    color: #000;
    text-align: left;
    line-height: 32px;
    text-decoration: none;
}
.main-container .header .header-right .user-panel .welcome-user span
{
    color: #155d95;
    margin: 0 0 0 5px;
    font-size: 16px;
}
/*Top Login option*/
.main-container .header .header-right .signin-panel
{
    width: 566px;
    height: 29px;
    float: right;
    margin: 40px 0 0 0;
}
.main-container .header .header-right .signin-panel label
{
    font-size: 15px;
    font-weight: normal;
    color: #a7a7a7;
    text-align: left;
    text-decoration: none;
    line-height: 29px;
    float: left;
    font-family: 'Conv_segoeui_2' , sans-serif;
}
.main-container .header .header-right .signin-panel .input-text
{
    width: 150px;
    height: 29px;
    float: left;
    margin: 0 10px;
    padding: 0 5px;
}
.main-container .header .header-right .signin-panel .signin-btn
{
    width: 90px;
    padding: 6px 0;
    float: right;
    margin: 0;
    background: url(../images/signin-btn.png) repeat-x;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    line-height: 29px;
    border: none;
    cursor: pointer;
}
/*Top Menu*/
.main-container .header .header-right .select-panel
{
    width: 600px;
    height: 29px;
    float: right;
    margin: 10px 0 0 0;
    vertical-align: bottom;
}
.main-container .header .header-right .select-panel .select-section
{
    width: auto;
    height: 30px;
    float: right;
    margin: 0;
}
.main-container .header .header-right .select-panel .topnav-panel
{
    width: 613px;
    height: 30px;
    float: right;
    margin: 0;
}
.main-container .header .header-right .select-panel .top-nav
{
    width: auto;
    height: 30px;
    float: left;
    border: solid 1px #d4d5d7;
    background: #f7f7f7;
    margin: 0 0 0 7px;
}
.top-nav a:link, .top-nav a:active, .top-nav a:visited
{
    font-size: 12.5px;
    font-weight: normal;
    color: #8d8d8d;
    text-align: left;
    line-height: 30px;
}
.top-nav ul
{
    margin: 0;
    padding: 0;
}
.top-nav li
{
    list-style: none;
    padding: 0 10px;
}
.top-nav li a, .top-nav a
{
    float: left;
    font-size: 12.5px;
    font-weight: normal;
    color: #8d8d8d;
    text-align: left;
    line-height: 30px;
    text-decoration: none;
    /*background: url(../images/downarrow.png) no-repeat right center;
    background: url(../images/smallDownArrow.gif) no-repeat right center;*/
    padding-right: 20px;
}
.dropdown
{
    position: relative;
}
.dropdown-last
{
    position: relative;   
}
/*Companies Dropdown*/
.top-nav-dropdown 
{
    width: 238px;
    height: auto;
    background: #666;
    float: left;
    margin: 0;
    position: absolute;
    left: -1px;
    top: 29px;
    background: #F7F7F7;
    border-bottom: solid 1px #D4D5D7;
    border-right: solid 1px #D4D5D7;
    border-left: solid 1px #D4D5D7;
    border-top: solid 1px #D4D5D7;
    z-index:1000;
}
.top-nav-dropdown a:link, .top-nav-dropdown a:active; .top-nav-dropdown a:visited
{
    font-size: 12.5px;
    font-weight: normal;
    color: #8d8d8d;
    text-align: left;
    line-height: 30px;
    text-decoration: none;
    line-height: 20px;
}
.top-nav-dropdown ul
{
    margin: 0;
    padding: 0;
}
.top-nav-dropdown li
{
    float: left;
    margin: 0;
    /*border-bottom: solid 1px #d5d5d5;*/
}
.top-nav-dropdown li a
{
    font-size: 12.5px;
    font-weight: normal;
    color: #8d8d8d;
    text-align: left;
    line-height: 10px;
    text-decoration: none;
    list-style: none;
    width: 199px;
    height: auto;
    background: none !important;
    padding:0 10px;
}
.top-nav-dropdown li a:hover
{ 
    background:#1c8ad0 !important; 
    color:#fff !important;
}
.top-nav-dropdown .sublink
{
    width:219px; 
	float:left; 
	margin:0; 
	padding:0; 
	height:30px; 
	background:#333;   
}
.top-nav-dropdown .sublink
{
    width:auto; 
	height:30px; 
	float:left; 
	margin:0;   
}
/*Companies Dropdown*/
/*Analysis Dropdown*/
.top-nav-dropdown-additional
{
    width: 177px;
    height: auto;
    background: #666;
    float: left;
    margin: 0;
    position: absolute;
    left: -20px;
    top: 40px;
    /*background: #F7F7F7;*/
    background:#1569C7;
    border-bottom: solid 1px #D4D5D7;
    border-right: solid 1px #D4D5D7;
    border-left: solid 1px #D4D5D7;
    border-top: solid 1px #D4D5D7;
    z-index: 999;
    padding:0 0 10px 0;
}
.top-nav-dropdown-additional a:link, .top-nav-dropdown-additional a:active; .top-nav-dropdown-additional a:visited
{
    font-size: 12.5px;
    font-weight: normal;
    color: #8d8d8d;
    text-align: left;
    line-height: 30px;
    text-decoration: none;
    line-height: 20px;
}
.top-nav-dropdown-additional ul
{
    margin: 0;
    padding: 0;
}
.top-nav-dropdown-additional li
{
    float: left;
    margin: 0;
    /*border-bottom: solid 1px #d5d5d5;*/
}
.top-nav-dropdown-additional li a
{
    font-size: 12.5px;
    font-weight: normal;
    color: #8d8d8d;
    text-align: left;
    line-height: 10px;
    text-decoration: none;
    list-style: none;
    width: 158px;
    height: auto;
    background: none !important;
    padding:0 10px;
}
.top-nav-dropdown-additional li a:hover 
{
    /*background:#1c8ad0 !important; 
    color:#fff !important;*/
    background:#CEF1FC !important;
    color:#1c8ad0 !important;              
}
.top-nav-dropdown-additional .sublink
{
    width: auto;
    float: left;
    margin: 0;
    padding: 0 2px;
}
.top-nav-dropdown-additional .sublink a
{
   width:195px; 
   float:left; 
   margin:0; 
   padding:0; 
   height:30px; 
   background:#333;
}
/*Analysis Dropdown*/
/*Top Menu*/
.main-container .header .header-right .select-panel .input-text
{
    width: 158px;
    height: 28px;
    padding: 4px;
    float: left;
    margin: 0 0 0 8px;
    border: solid 1px #dddddd;
    background: #fff;
    font-size: 15px;
    color: #a7a7a7;
}
/* Header section*/
.main-container .nav-panel
{
    width: 1074px;
    height: 40px;
    float: left;
    margin: 0;
    background: url(../images/navbg.png) repeat-x;
    padding: 0 13px 0;
    font-size: 16px;
    font-weight: normal;
    color: #FFF;
    text-align: left;
    text-decoration: none;
    line-height: 40px;
}
.main-container .nav-panel a:link, .nav-panel a:active, .nav-panel a:visited
{
    font-size: 16px;
    font-weight: normal;
    color: #FFF;
    text-align: left;
    text-decoration: none;
    line-height: 40px;
}
.main-container .nav-panel ul
{
    margin: 0;
    padding: 0;
    float: left;
}
.main-container .nav-panel li
{
    float: left;
    margin: 0;
}
.main-container .nav-panel li a
{
    list-style: none;
    float: left;
    width: auto;
    margin: 0;
    padding: 0 15px;
}
.main-container .nav-panel li a:hover
{
    background: #cef1fc;
    color: #000;
    padding: 0 15px;    
}
.main-container .nav-panel li.activenav a
{
    background: #cef1fc;
    color: #000;
    padding: 0 15px;
}
/*Bredcrumb panel*/
.main-container .bredcurm-panel
{
    width: 98%;
    /*height: 40px;*/
    float: left;
    margin: 5px 0 0 0;
    background: #f1f0f1;
    border: solid 1px #dddddd;
    padding: 0 0 0 20px;
}
.main-container .bredcurm-panel .home-icon
{
    width: 13px;
    height: 14px;
    float: left;
    margin: 9px 0 0 0;
    background: url(../images/home-icon.png) no-repeat;
}
.main-container .bredcurm-panel .bredcrumb-nav
{
    width: auto;
    height: auto;
    float: left;
    font-size: 12px;
    font-weight: normal;
    color: #3672ba;
    text-align: left;
    line-height: 30px;
    margin: 0;
    font-family: 'Conv_segoeui_2' , sans-serif;
}
.bredcrumb-nav a:link, .bredcrumb-nav a:active, .bredcrumb-nav a:visited
{
    font-size: 12px;
    font-weight: normal;
    color: #3672ba;
    text-align: left;
    /*line-height: 40px;*/
    margin: 0;
    font-family: 'Conv_segoeui_2' , sans-serif;
}
.bredcrumb-nav ul
{
    margin: 0;
    padding: 0;
}
.bredcrumb-nav li
{
    list-style: none;
    float: left;
    margin: 0;
}
.bredcrumb-nav li a
{
    width: auto;
    margin: 0 10px 0 0;
    background: url(../images/bredcrumbarrow.png) no-repeat right 6px;
    padding: 0 10px 0 10px;
    text-decoration: none;
}
.bredcrumb-nav li.last-arrow a
{
    background-image: none;
}
/*Bredcrumb panel*/
.main-container .center-panel
{
    width: 100%;
    height: auto;
    float: left;
    margin: 0px;
    min-height: 350px;
}
.main-container .center-panel h1
{
    width: auto;
    float: left;
    margin: 0;
    height: 30px;
    font-size: 24px;
    font-weight: normal;
    color: #252525;
    text-align: left;
    text-decoration: none;
    line-height: 30px;
    font-family: 'Conv_segoeui_2' , sans-serif;
}
.main-container .center-panel .ceter-top-select
{
    width: 300px;
    float: left;
    margin: 0 0 0 20px;
}
.main-container .center-panel .ceter-top-select .input-text
{
    width: 158px;
    height: 28px;
    padding: 4px;
    float: left;
    margin: 0 0 0 8px;
    border: solid 1px #dddddd;
    background: #fff;
    font-size: 15px;
    color: #a7a7a7;
}
.main-container .center-panel .adduser-btn, .adduser-btn a
{
    width: 130px;
    height: 30px;
    float: right;
    background: url(../images/addnewuser.png) no-repeat;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 7px 7px;
}
.main-container .center-panel .center-tablesection
{
    width: 1064px;
    height: auto;
    float: left;
    margin: 20px 0 0 0;
    border: solid 1px #dddddd;
    padding: 17px;
}
.main-container .center-panel .center-tablesection h1
{
    width: 100%;
    height: 20px;
    float: left;
    margin: 0;
    font-family: 'Conv_segoeui_2' , sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #000;
    text-align: left;
    line-height: 20px;
}
.main-container .center-panel .center-tablesection .table-left-section
{
    width: 190px;
    height: auto;
    float: left;
    margin: 0;
    padding: 10px;
    background: #f1f0f1;
    border: solid 1px #dddddd;
}
.main-container .center-panel .center-tablesection .table-left-section table
{
    width: 190px;
    height: auto;
    float: left;
    margin: 0;
}
.main-container .center-panel .center-tablesection .table-left-section table tbody tr td
{
    padding: 0 !important;
    border: none !important;
}
.main-container .center-panel .center-tablesection .table-left-section table th
{
    background: #dedcde;
    border: solid 1px #bcbcbc;
    height: 25px;
    font-size: 13px;
    font-weight: bold;
    color: #252525;
    text-align: left;
    padding: 5px;
    height: 10px;
}
.main-container .center-panel .center-tablesection .table-left-section table .input-text
{
    width: 190px;
    height: 28px;
    padding: 4px;
    float: left;
    margin: 0;
    border: solid 1px #dddddd;
    background: #fff;
    font-size: 15px;
    color: #a7a7a7;
}
.main-container .center-panel .center-tablesection .table-right-section
{
    width: 800px;
    height: auto;
    float: right;
    margin: 0;
}

.main-container .center-panel .center-tablesection .listtable
{
    width: 1064px;
    height: auto;
    margin: 25px 0 0 0;
    float: left;
}
/*class Declaration*/
.footer
{
    width: 100%;
    height: 52px;
    float: left;
    margin: 10px 0 0 0;
    background: #b2b1b1;
}
.footer .footer-panel
{
    width: 1100px;
    height: 52px;
    margin: 0 auto;
    text-align: left;
    text-decoration: none;
    line-height: 52px;
    color: #070707;
    text-decoration: none;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}
.listtable table
{
    margin: 0 0 20px;
    width: 100%;
}
.listtable table thead tr th
{
    background: #DDDDDD;
}
.listtable table thead tr th, .listtable table thead tr td
{
    color: rgba(0, 0, 0, 0.6);
    display: table-cell;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 13pt;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}
.listtable table tbody tr
{
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.listtable table thead tr th.right, .listtable table thead tr td.right
{
    padding-right: 10px;
    text-align: right;
}

.listtable table tbody tr td a
{
    text-decoration: none;
    color: #016FA7;
}
.listtable table tbody tr td
{
    border-color: transparent #DDDDDD #DDDDDD transparent;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 14pt;
    padding: 3px 5px;
}
/*.listtable table tbody tr td.last
{
    border-right: 1px solid black;
}
.listtable table tbody tr td:last-child
{
    border-right: 1px solid transparent;
}*/

.listtable table tbody tr.selected-row
{
    background-color: rgba(28, 183, 236, 0.1) !important;
}


.listtable table tr.even
{
    background: #F1F0F1;
}
.listtable table.striped tbody tr:nth-child(2n+1)
{
    background-color: #F9F9F9;
}

.listtable table.hovered tbody tr:hover
{
    background-color: rgba(28, 183, 236, 0.1);
}

.listtable table.bordered tbody tr:last-child td
{
    border-bottom: 0 none;
}

.listtable table thead tr th.head-active
{
    background: #e8f8fd;
    border: solid 1px #1C98CC;
}
.listtable table tbody tr td.activetd
{
    background: #f1f0f1;
    border-right: solid 1px #d3d3d3;
    border-left: solid 1px #d3d3d3;
}
.listtable table tbody tr td.activetd-last
{
    background: #d9f1fb;
}


/*Pagination*/
.main-container .center-panel .center-tablesection .pagination-panel
{
    width: auto;
    height: 30px;
    float: right;
    margin: 0;
    background: #fff;
    border: solid 1px #dddddd;
}
.main-container .center-panel .center-tablesection .pagination-panel .prevous, .prevous a
{
    width: 66px;
    height: 30px;
    float: left;
    background: #fff;
    border-right: solid 1px #dddddd;
    font-size: 12px;
    font-weight: normal;
    color: #000;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    font-family: 'Conv_segoeui_2' , sans-serif;
}
.main-container .center-panel .center-tablesection .pagination-panel .prevous:hover
{
    background: #e8e6e8;
}
.main-container .center-panel .center-tablesection .pagination-panel .pagination-list
{
    color: #016fa7;
    text-align: center;
    line-height: 30px;
    float: left;
}
.main-container .center-panel .center-tablesection .pagination-panel .pagination-list a:link, .pagination-list a:active, .pagination-list a:visited
{
    color: #016fa7;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    font-family: 'Conv_segoeui_2' , sans-serif;
}
.main-container .center-panel .center-tablesection .pagination-panel .pagination-list ul
{
    margin: 0;
    padding: 0;
}
.main-container .center-panel .center-tablesection .pagination-panel .pagination-list li
{
    float: left;
    list-style: none;
}
.main-container .center-panel .center-tablesection .pagination-panel .pagination-list li a
{
    float: left;
    margin: 0;
    border-right: solid 1px #dddddd;
    width: auto;
    height: 30px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
}
.main-container .center-panel .center-tablesection .pagination-panel .next, .next a
{
    width: 66px;
    height: 30px;
    float: right;
    margin: 0;
    background: #FFF;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    font-size: 13px;
    color: #000;
}
.main-container .center-panel .center-tablesection .pagination-panel .next:hover
{
    background: #e8e6e8;
}
/*Pagination*/
/* company successfully added*/
.main-container .center-panel .center-tablesection .company-add-msg
{
    width: 400px;
    float: left;
    height: 30px;
    margin: 0;
    font-family: 'Conv_segoeui_2' , sans-serif;
    background: url(../images/tick.png) no-repeat left 0;
    font-size: 16px;
    font-weight: normal;
    color: #6ebb2d;
    text-decoration: none;
    line-height: 30px;
    padding-left: 35px;
}

/* company successfully added*/
.main-container .center-panel .center-tablesection .subsection-panel
{
    width: 1064px;
    height: auto;
    margin: 25px 0 0 0;
    float: left;
}
.main-container .center-panel .center-tablesection .subsection-panel table
{
    border: none !important;
}
.main-container .center-panel .center-tablesection .subsection-panel table tbody tr td
{
    border-right: none;
    border-bottom: none;
}
.button_example
{
    color: White;
    cursor: pointer;   
    text-align: center;
    width: auto;
    height: 30px !important;  
    background-color: #107FC7;   
}

.button_example:hover
{
    background-color: #95B8D3;
    cursor: pointer;
    color: White;
    text-align: center;   
    cursor: pointer;
    width: auto;
    height: 30px !important;   
}


.tabSubscribeHeader
{
    margin-bottom: 20px;
    width: 97%;
}

/***************** Message ***************************/
.info, .success, .warning, .error
{
    /*border: 1px solid;*/
    margin-top: 10px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    display: inline-block;
}

.info
{
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../Images/info.png');
}
.success
{
    color: #4F8A10; /*background-color: #DFF2BF;*/
    background-image: url('../Images/success.png');
}
.warning
{
    color: #9F6000; /*background-color: #FEEFB3;*/
    background-image: url('../Images/warning.png');
}
.error
{
    color: #D8000C; /*background-color: #FFBABA;*/
    background-image: url('../Images/error.png');
}
/************************************************/