﻿@ModelType onlineAnalytics.Dashboard
@Imports Farpoint.Web.Spread
@Imports Farpoint.Mvc.Spread
@Imports  onlineAnalytics
@Code
    ViewData("Title") = "PlanGuru Analytics | Edit Dashboard Item"
    If Not Session("action") Is Nothing Then
        
        If (Session("action") = "SetDefaultAnalysis" Or Session("action") = "GetAnalyses") Then
            Layout = Nothing
            Session.Remove("action")
        End If
    Else
        Layout = "~/Views/Shared/AnalyticsMaster.vbhtml"
    End If
    
    Dim ua As New UserAccess
    If Not (Session("UserAccess") Is Nothing) Then
        ua = DirectCast(Session("UserAccess"), UserAccess)
    End If
End Code
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="headerTable" style="float: right">
    <table>
        <tr>
            <td align="left" width="70%">
                <div class="breadscrum"><a href='@Url.Action("Index", "Dashboard")'>Dashboard</a><span> > </span><a href='@Url.Action("Index", "DashboardSetup")'>Dashboard Item List</a><span> > </span>Edit Dashboard Item</div>
            </td>                    
        </tr>
    </table>
</div>
<div style="margin-bottom: 20px;">
    @If Not (DirectCast(TempData("Message"), String) Is Nothing) Then
        @<label class="success">@TempData("Message").ToString()
        </label>                         
    End If
    @If Not (DirectCast(TempData("ErrorMessage"), String) Is Nothing) Then
        @<label class="error">@TempData("ErrorMessage").ToString()
        </label>                         
    End If
    <div style="font-size: 13px; display: -moz-box; width: 99.9%; border: 1px solid #AAAAAA;">
        @Using Html.BeginForm("Edit", "DashboardSetup")
            @Html.AntiForgeryToken()   
            @Html.ValidationSummary(True)       
            @<div>
                @Html.ValidationMessageFor(Function(m) m.AccountId, Nothing, New With {.style = "margin-left:20px;font-family:Segoe UI;font-size: 0.85em;"})
                @Html.HiddenFor(Function(m) m.AccountId)
                @Html.HiddenFor(Function(m) m.AcctTypeId)
            </div>
            @<div id="tabs" style="float: left; font-size:11px; width: 77%; min-height: 450px; height: auto;">
                <ul>
                    <li id="spdRE_TabHeader"><a href="#tabs-1">Revenue and expenses</a></li>
                    <li id="spdBS_TabHeader"><a href="#tabs-2">Assets, liabilities and equity</a></li>
                    <li id="spdCF_TabHeader"><a href="#tabs-3">Cash flow</a></li>
                    <li id="spdFR_TabHeader"><a href="#tabs-4">Financial ratios</a></li>
                    <li id="spdOM_TabHeader"><a href="#tabs-5">Other metrics</a></li>
                </ul>
                <div id="tabs-1">
                    <div id="REspread">
                        @Html.FpSpread("spdRE", Sub(x)
                                                    x.RowHeader.Visible = False
                                                    x.Height = 380
                                                    x.Width = 800
                                              
                                              
                                                End Sub)
                    </div>
                </div>
                <div id="tabs-2">
                    <div id="BSspread">
                        @Html.FpSpread("spdBS", Sub(x)
                                                    x.RowHeader.Visible = False
                                                    x.Height = 380
                                                    x.Width = 800
                                                    
                                                End Sub)
                    </div>
                </div>
                <div id="tabs-3">
                    <div id="CFspread">
                        @Html.FpSpread("spdCF", Sub(x)
                                                    x.RowHeader.Visible = False
                                                    x.Height = 380
                                                    x.Width = 800
                                                End Sub)
                    </div>
                </div>
                <div id="tabs-4">
                    <div id="FRspread">
                        @Html.FpSpread("spdFR", Sub(x)
                                                    x.RowHeader.Visible = False
                                                    x.Height = 380
                                                    x.Width = 800
                                                End Sub)
                    </div>
                </div>
                <div id="tabs-5">
                    <div id="OMspread">
                        @Html.FpSpread("spdOM", Sub(x)
                                                    x.RowHeader.Visible = False
                                                    x.Height = 380
                                                    x.Width = 800
                                                End Sub)
                    </div>
                </div>
            </div>
            @<div style="float: right; width: 22%;">
                <fieldset style="min-height: 441px; height: auto; border: none;">
                    <div style="float: right;">
                        <ol class="round">
                            <li>
                                @Html.LabelFor(Function(m) m.ChartFormatId)<br />
                                @Html.DropDownList("ChartFormatId", DirectCast(ViewBag.Formats, SelectList), "Select Chart Format", New With {.Class = "select", .style = "width:200px;"})<br />
                                @Html.ValidationMessageFor(Function(m) m.ChartFormatId)
                            </li>
                            <li>
                                @Html.LabelFor(Function(m) m.ChartTypeId)<br />
                                @Html.DropDownList("ChartTypeId", DirectCast(ViewBag.ChartType, SelectList), "Select Chart Type", New With {.Class = "select"})<br />
                                @Html.ValidationMessageFor(Function(m) m.ChartTypeId)
                            </li>
                            <li id="ShowPercent">
                                @Html.LabelFor(Function(m) m.ShowAsPercent)
                                @Html.CheckBoxFor(Function(m) m.ShowAsPercent, New With {.class = "styled_checkbox"})<br />
                            </li>
                            <li id="ShowTrend">
                                @Html.LabelFor(Function(m) m.ShowTrendline)
                                @Html.CheckBoxFor(Function(m) m.ShowTrendline, New With {.class = "styled_checkbox"})<br />
                            </li>
                            <li id="Show_Budget">
                                @Html.LabelFor(Function(m) m.ShowBudget)
                                @Html.CheckBoxFor(Function(m) m.ShowBudget, New With {.class = "styled_checkbox"})<br />
                            </li>
                            <li>
                                <input id="causepost" type="submit" value="Update Dashboard Item" class="secondbutton_example" />
                            </li>
                        </ol>
                        @Html.HiddenFor(Function(m) m.DashboardId)
                        @Html.HiddenFor(Function(m) m.AnalysisId)
                    </div>
                </fieldset>
            </div>        
        End Using
    </div>
</div>
<script type="text/javascript">
       
    $(".success").attr("style", "margin:0;padding: 10px 20px 10px 50px;");
    $(".error").attr("style", "margin:0;padding: 10px 20px 10px 50px;");

    var TabId = '@Model.selectedTabId';
    var selectedElement = '@Model.selectedCheckboxId';
    var selectedElementDescription = '@Model.selectedCheckboxDescription';     
    var selectedSpread = document.getElementById(TabId);
    ShowTab(TabId);
     
    function ShowTab(TabId) {

        var Header = "#" + TabId + "_TabHeader";
        $(Header).attr("class", "ui-state-default ui-corner-top ui-tabs-active ui-state-active");
    }

    if ($('#ChartTypeId option:selected').text().toLowerCase() == "line") {
        $("#ShowTrend").show();
    } else { $("#ShowTrend").hide(); }

    function DSChkBoxClicked(checkedElement, selectedAccount, selectedAcctType, Description) {
        var chkElement = "#" + checkedElement
        if ($(chkElement).is(':checked')) {
            Checked(chkElement, selectedAccount, selectedAcctType, Description);
        }
        else { selectedElement = ""; $("#AccountId").val(''); $("#AcctTypeId").val(''); }
    }

    function Checked(chkElement, selectedAccount, selectedAcctType, Description) {
        
        if ($("#AccountId").val() == "") {
            selectedElement = chkElement;
            selectedElementDescription = Description;
            $("#AccountId").val(selectedAccount);
            $("#AcctTypeId").val(selectedAcctType);
        }
        else {

            var confirmationMessage = "''" + selectedElementDescription + "'' has already been selected for this dashboard chart. A dashboard chart can only include one item. Do you want to deselect the previously selected item?";          
            
            $.msgBox({
                title: "Confirm",
                content: confirmationMessage,
                type: "Info",
                buttons: [{ type: "submit", value: "Yes" },
                          { type: "submit", value: "No"}],
                afterShow: function () { $('[name=No]').focus(); $(".msgBox").css("height", "230px"); $(".msgBoxButtons").css("padding-top", "45px"); },
                success: function (result) {
                    if (result == "Yes") {
                        $(selectedElement).attr('checked', false);
                        $(chkElement).attr('checked', true);
                        $("#AccountId").val(''); selectedElement = ''; selectedElementDescription = '';
                        Checked(chkElement, selectedAccount, selectedAcctType, Description);
                    }
                    else if (result == "No") {
                        $(chkElement).attr('checked', false);
                    }
                }
            });
        }
    }
    
    $(function () {

        $('#Show_Budget').hide();
        //$('#ShowBudget').prop("checked", true);


        $("#tabs").tabs();
        $("#tabs").attr("class", "ui-tabs ui-widget");

        var cellchkval; var headerRowIndex = '-1'; var totalRowIndex = '-1';

        var headerRowFlag = false; var totalRowFlag = false;
        $(document).ready(function () {

            CallShowTrend();

            $('#ChartTypeId').change(function () {

                CallShowTrend();
            });


            function CallShowTrend() {
                var selectedvalue = $('#ChartTypeId option:selected').text().toLowerCase();
                if (selectedvalue == "line") {
                    $('#ShowTrend').show();
                }
                else {
                    $('#ShowTrend').hide();
                }
            }

            CallShowBudget();

            $("#ChartFormatId").change(function () {
                CallShowBudget();
            });

            function CallShowBudget() {
                var selectedFormat = $("#ChartFormatId").val();
                var showBudget = '@Model.ShowBudget';
                if (selectedFormat == 6 && showBudget == 'True') {
                    $('#Show_Budget').show();
                    $('#ShowBudget').prop("checked", true);
                }
                else if (selectedFormat == 6 && showBudget == 'False') {
                    $('#Show_Budget').show();
                    $('#ShowBudget').prop("checked", false);
                }
                else {
                    $('#ShowBudget').prop("checked", true);
                    $('#Show_Budget').hide();
                }
            }

            CallShowPercent();

            $('#tabs').tabs({
                activate: function (event, ui) {
                    CallShowPercent();
                }
            });


            function CallShowPercent() {
                var activeTab = $("#tabs").tabs("option", "active");
                if (activeTab == 0 || activeTab == 1) {
                    $("#ShowPercent").show();
                }
                else {
                    $("#ShowPercent").hide();
                }
            }

            $("div > input:checkbox").each(function (index) {
                $("<label>").attr("for", this.id = "checkbox" + index)
                .attr("class", "styled_checkbox dashboard")
                .insertAfter(this);
            });
            $("li > input:checkbox").each(function (index) {
                $("<label>").attr("for", this.id)
                .attr("class", "float-left chk-dashboard")
                .insertAfter(this);
            });

            $("#tabs").removeClass("ui-corner-all");
            $("#footerpanel").removeClass("plangurufooter").addClass("plangurufooterfordashboard");
            //IsSessionAlive();
            //hide detail rows  

            var spread = document.getElementById("spdRE");
            setRow(spread);

            var spread = document.getElementById("spdBS");
            setRow(spread);

            var spread = document.getElementById("spdCF");
            setRow(spread);

            //            var spread = document.getElementById("spdFR");
            //            setRow(spread);

            var spread = document.getElementById("spdOM");
            setRow(spread);

            var spread = document.getElementById(TabId);
            ExpandSelectedItemTree(selectedSpread, headerRowIndex, totalRowIndex)

        });

        function setRow(spread) {

            var rc = spread.GetRowCount();
            var showclass = false
            for (var i = 0; i < rc; i++) {
                var cellval = spread.GetValue(i, 2);
                cellchkval = spread.GetValue(i, 1);

                if (cellchkval == "true") { headerRowFlag = true; }

                if (spread.id == "spdOM") {
                    showclass = true
                    spread.Rows(i).style.display = "table-row";
                }
                if (cellval == "OpCash") {
                    if (showclass == false) {
                        spread.Rows(i).style.display = "none";
                    }
                }
                else if (cellval == "Detail" || cellval == "SDetail" || cellval == "SHeading" || cellval == "STotal") {
                    if (showclass == false) {
                        spread.Rows(i).style.display = "none";
                    }
                }

                if (cellval == "Heading") {
                    var cellvalue = spread.GetValue(i, 0);

                    if (headerRowFlag == false) { headerRowIndex = i; }

                    if (cellvalue == "-") {
                        showclass = true
                        spread.Rows(i).style.display = "table-row";
                    }
                    else {
                        showclass = false
                        spread.Rows(i).style.display = "none";
                    }
                } else if (cellval == "Total") { if (totalRowFlag == false && headerRowFlag == true) { totalRowIndex = i; totalRowFlag = true; } }
            }
        }


        function ExpandSelectedItemTree(spread, headerRowIndex, totalRowIndex) {

            if (headerRowIndex != "-1" && totalRowIndex != "-1") {

                for (var i = totalRowIndex; i >= headerRowIndex; i--) {

                    var rowtype = spread.GetValue(i, 2);

                    if (rowtype == "Total") {
                        cell = spread.GetCellByRowCol(i, 0);
                        cell.removeAttribute("FpCellType");
                        spread.SetValue(i, 0, "", false);
                        cell.setAttribute("FpCellType", "readonly");
                        if ($('#blnUseFilter').is(':checked')) {
                            spread.Rows(i).style.display = "none";
                        }
                    }
                    else if (rowtype == "Heading") {
                        cell = spread.GetCellByRowCol(i, 0);
                        cell.removeAttribute("FpCellType");
                        spread.SetValue(i, 0, "-", false);
                        cell.setAttribute("FpCellType", "readonly");
                        spread.Rows(i).style.display = "table-row";
                        break
                    }
                    else {
                        spread.Rows(i).style.display = "table-row";
                    }
                }
            }
        }


        window.onload = function () {
            var spreadRE = document.getElementById("spdRE");
            var spreadBS = document.getElementById("spdBS");
            var spreadCF = document.getElementById("spdCF");
            var spreadFR = document.getElementById("spdFR");
            var spreadOM = document.getElementById("spdOM");

            tabEventListener(spreadRE);
            tabEventListener(spreadBS);
            tabEventListener(spreadCF);
            tabEventListener(spreadFR);
            tabEventListener(spreadOM);
        }

        function tabEventListener(spread) {
            if (document.all) {
                if (spread.addEventListener) {
                    spread.addEventListener("ActiveCellChanged", cellChanged, false);
                }
                else {
                    spread.onActiveCellChanged = cellChanged;
                }
            }
            else {
                spread.addEventListener("ActiveCellChanged", cellChanged, false);
            }
        }

        function cellChanged(event) {
            //IsSessionAlive();
            if (event.col == 0) {

                var spread = document.getElementById(event.target.id);  //document.getElementById("spdRE");
                var cellval = spread.GetValue(event.row, 0);
                var rc = spread.GetRowCount();

                if (cellval == "-") {
                    for (var i = event.row; i < rc; i++) {
                        var rowtype = spread.GetValue(i, 2);
                        if (rowtype == "Total") {
                            cell = document.getElementById(event.target.id).GetCellByRowCol(i, 0);
                            cell.removeAttribute("FpCellType");
                            spread.SetValue(i, 0, "+", false);
                            cell.setAttribute("FpCellType", "readonly");
                            spread.Rows(i).style.display = "table-row";
                            break;
                        }
                        else if (rowtype == "Heading") {
                            cell = document.getElementById(event.target.id).GetCellByRowCol(i, 0);
                            cell.removeAttribute("FpCellType");
                            spread.SetValue(i, 0, "+", false);
                            cell.setAttribute("FpCellType", "readonly");
                            spread.Rows(i).style.display = "none";
                        }
                        else {

                            spread.Rows(i).style.display = "none";
                        }
                    }
                }
                else if (cellval == "+") {
                    for (var i = event.row; i > -1; i--) {
                        var rowtype = spread.GetValue(i, 2);
                        if (rowtype == "Total") {
                            cell = document.getElementById(event.target.id).GetCellByRowCol(i, 0);
                            cell.removeAttribute("FpCellType");
                            spread.SetValue(i, 0, "", false);
                            cell.setAttribute("FpCellType", "readonly");
                            if ($('#blnUseFilter').is(':checked')) {
                                spread.Rows(i).style.display = "none";
                            }
                        }
                        else if (rowtype == "Heading") {
                            cell = document.getElementById(event.target.id).GetCellByRowCol(i, 0);
                            cell.removeAttribute("FpCellType");
                            spread.SetValue(i, 0, "-", false);
                            cell.setAttribute("FpCellType", "readonly");
                            spread.Rows(i).style.display = "table-row";
                            break
                        }
                        else if (rowtype == "SHeading") {
                            spread.Rows(i).style.display = "none";
                        }
                        else {
                            spread.Rows(i).style.display = "table-row";
                        }
                    }
                }
                spread.SetActiveCell(event.row, 1)
            }
        }
    });     
</script>
